[2016-02-29 23:08] dualspiral opened #2 "/tp command is not currently working"
When I run the /tp command without any arguments, I get the following:

[code]

If I add arguments, it tells me there are too many. So, I'm thinking there is something wrong with the argument parsing, possibly the way I've used "firstParsing". I want `/tp [-f] <player>` to work with no extra permission check, whilst `/tp [-f] <playerFrom> <player>` should work only with the "others" permission. Th

[2016-02-29 23:09] dualspiral opened #3 "/nick command doesn't seem to be working"
I run the command, I get no output, even with `debug-mode` set to true. Not sure what is going on...

[2016-03-01 02:25] #3 closed

[2016-03-01 02:28] hsyyid opened #4 "Update Permissions"
All the permissions need to be updated to use `essence` rather than `quickstart`.

[2016-03-01 02:30] hsyyid opened #5 "Add World Module"
**Objectives:**

* [x] - Add the `Worlds` module.
* [x] - Transfer and adapt the `world` commands I wrote for `EssentialCmds` over to `Essence`.
* [x] - Add world configuration structure (@dualspiral - #10)

[2016-03-01 02:52] hsyyid commented on #2
I have tested it and the issue appears to be with `TwoPlayersArgument`.

[2016-03-01 03:57] kinggoesgaming opened #8 "is the forge repo really needed?"
In the build.gradle file I found the repo for forge defined, but no dependency added for it. So I am wondering if it is needed? If it is not needed i will remove it in #7

[2016-03-01 08:22] dualspiral commented on #3
D'oh! That's what it was!

Just as a note, we should probably try to keep unrelated changes in separate commits!

[2016-03-01 08:23] dualspiral commented on #8
No, that's removable.

[2016-03-01 09:15] dualspiral opened #9 "Questions on commit structure"
After thinking about it this morning, it occurred to me that actually, we don't have a good branching strategy. The following came to mind.

The point of the "develop" branch is actually redundant. I'm hoping that we'll get a lot of contributions for this plugin once it gets off the ground and everyone will target master. So master should be our main development branch.

HOWEVER, master should be

[2016-03-01 09:17] dualspiral opened #10 "Create world configuration structure."
* [x] Create a World Config loader, like the User Config loader
* [x] Create world configuration files

This blocks #5

[2016-03-01 09:18] dualspiral commented on #2
I removed that argument for two players, and it seems to still be broken for me...

[2016-03-01 09:20] dualspiral commented on #4
https://github.com/EssencePowered/Essence/blob/develop/src/main/java/io/github/essencepowered/essence/internal/CommandPermissionHandler.java#L19

Tests may this updating too.

[2016-03-01 09:34] dualspiral opened #11 "Announcements of project."
We need to co-ordinate this - so that we have a good post to tell people about what we're doing. We should not announce this until we think we can use some testers.

What should we talk about? Spiritual successor to EssCmds that builds upon my technology? I'm quite happy to flesh it out, but it should be an open process!

[2016-03-01 09:35] dualspiral opened #12 "Add "Fun" module"
Things like burn, smite, maybe even kittycannon.

[2016-03-01 09:36] dualspiral opened #13 "Add /powertool"
Popular feature, but needs to be considered.

I think we need:

* Powertool object that contains the ID of the item and the command to run.
* A new list entry in the UserConfig that will contain this information
* The command

[2016-03-01 10:11] #8 closed

[2016-03-01 12:29] hsyyid commented on #11
Sure! We can talk about details when we have more of the modules in and transferred over.

[2016-03-01 13:36] hsyyid commented on #13
I'll do this one after I add the worlds module.

[2016-03-01 14:08] kinggoesgaming commented on #9
All seems fine except we use semver as we discussed earlier?

[2016-03-01 14:19] dualspiral commented on #9
Yes, my suggestions all work based on SemVer. As for develop, I don't think we need it unless we plan for a breaking change. At this stage, bleeding changes can happen on master, we're not stable and released yet.

[2016-03-01 14:21] kinggoesgaming commented on #9
Fine. I said semver as the versioning mentioned did not follow it's conventions

[2016-03-01 14:22] kinggoesgaming commented on #9
Nvm I am an idiot

[2016-03-01 14:29] dualspiral commented on #9
Something that is really important to note is that _we are not the same as the Sponge project_. They have a structure, it works for them. It might not work for us. Their use of the bleeding branch is quite wide ranging, I do not imagine that we'll be breaking an Essence API any time soon. We can change internal stuff around that plugins shouldn't be messing with, that's fine, but the actual API po

[2016-03-01 14:44] kinggoesgaming commented on #9
So we can start when and if breaking changes start coming after release. So yeah good idea to close it then

[2016-03-01 14:47] dualspiral commented on #9
Yep, that's the best solution.

On Tue, 1 Mar 2016 at 14:44 Hunar Roop Kahlon <notifications@github.com>
wrote:

[2016-03-01 17:48] dualspiral commented on #9
@hsyyid - you OK with dropping the develop branch for these reasons?

[2016-03-01 18:25] dualspiral commented on #2
OK, spotted the problem, but it's more due to the intracacies of Sponge.

The important line to consider is in Sponge - when we use `GenericArguments.requiringPermission(...)`, if the permission check succeeds, we get to the following line:

https://github.com/SpongePowered/SpongeAPI/blob/master/src/main/java/org/spongepowered/api/command/args/GenericArguments.java#L1242

...that is, the generic `

[2016-03-01 18:45] hsyyid commented on #2
If it is indeed a Sponge issue, you'll need to talk to zml. You can open an issue over on SpongeCommon.

[2016-03-01 18:48] dualspiral commented on #2
It's a SpongeAPI issue, that's where the code is!

https://github.com/SpongePowered/SpongeAPI/issues/1123

[2016-03-01 19:35] #2 closed

[2016-03-01 21:18] hsyyid commented on #9
@dualspiral Yep! :smile:

[2016-03-01 21:40] #9 closed

[2016-03-01 21:51] kinggoesgaming opened #19 "PluginModule unnecessary having keys..."
Currently PluginModule has the keys in the enum:

[code]

However the keys can also be gotten by doing `PluginModule.SPAWN.toString().toLowercase()`.
It might that the keys exist for convenience but just wanted to point it out,

[2016-03-01 21:55] dualspiral commented on #19
Notice that "Command Logging" module being different. There may be other modules that will have a similar change.

I'm leaving it as is, I see no reason to change it.

[2016-03-01 21:55] #19 closed

[2016-03-02 12:20] hsyyid opened #21 "Change Util.getMessageWithFormat to return Text?"
Some server admins may prefer to have multiple colors in the messages. This would be very easy to do, all you do is add `TextSerializers.FORMATTING_CODE.deserialize()` to the method already used to get all messages.

Thoughts? This will make it so messages aren't just one color :smile:

[2016-03-02 13:05] dualspiral commented on #21
We could, but I'm keeping an eye on Text templates. That might be a much
better system. I'm concerned that the serializers might get deprecated with
the colour codes.

I'll look into it though, not against it in principle.
On Wed, 2 Mar 2016 at 12:20, HassanS6000 <notifications@github.com> wrote:

[2016-03-02 17:06] dualspiral commented on #21
Just having another thought. The properties files we use remain embedded in the file, but I might be able to do some magic and generate a config file that will allow server owners to provide their own strings. I don't really want to start "tokenising" it beyond using {0}'s and whatnot, but it might be a nice way to expose some of the strings.

My thought is that a server admin can generate a "mess

[2016-03-02 19:07] dualspiral commented on #5
Added world config system, this is done now.

[2016-03-02 19:07] #5 closed

[2016-03-02 19:08] dualspiral commented on #10
All done now.

[2016-03-02 19:08] #10 closed

[2016-03-02 19:13] #4 closed

[2016-03-02 19:20] dualspiral commented on #21
Just to add - we discussed this and I'm happy with the suggested change. We should go ahead with it.

[2016-03-02 21:13] kinggoesgaming opened #22 "IRC vs Gitter"
Currently we are using `#essentialcmds` as our main conversation base. However with essence, we will ultimately need to move to a new channel. However here I was thinking of perhaps switching to Gitter instead. Put some pros and cons merged for both services.

-----
| IRC     | Gitter     |
| ---       | ---          |
| User can jump in without any registration. | User needs a GitHub account. |
|

[2016-03-02 21:54] dualspiral commented on #22
As far as I am concerned, IRC works well enough for what we need, @hsyyid and I probably don't need anything fancy. Nor do I want to alienate users who don't want to sign up to anything. EsperNet does what we need - a channel with a permission granting bot. We don't need a Spongie like bot, we don't need fancy snippet like stuff. We need a tried and tested solution that other users can use easily.

[2016-03-02 21:59] hsyyid commented on #22
@dualspiral I think `IRC` is fine, and if we ever wanted to have commits shown in the chat, we can probably setup a bot as well, but I'm not sure we need one. :smile:

[2016-03-02 22:03] #22 closed

[2016-03-03 14:36] dualspiral opened #24 "Revisit naming of project/plugin"
I liked the idea of calling it Essence until I found that Essence is also (at least) [intended to be a Spigot plugin that is a replacement of Essentials](https://bitbucket.org/mc-essence/essence). Having seen that @kinggoesgaming also [has tried to start a port of it](https://github.com/KGGArmy/Essence-Sponge), and therefore I'm very sure that's where the name came from, I'm not sure we should be

[2016-03-03 14:38] dualspiral opened #25 "/skull command"

[2016-03-03 14:38] dualspiral opened #26 "/hat command"

[2016-03-03 14:41] dualspiral opened #27 "/rules command"
Going to do it like Essentials did - a `rules.txt` file, rather than command based.

Before we started this merged project, a friend of mine was going to come and help me do some commands, starting with this one. I'm keen for this to be left for said friend, see if we can use it to onboard another person to help with the core plugin. Please don't take this issue!

[2016-03-03 14:41] dualspiral opened #28 "/motd"
See #27 - similar thing.

[2016-03-03 14:41] dualspiral opened #29 "/smite (/lightning)"

[2016-03-03 14:41] dualspiral opened #30 "/give"

[2016-03-03 14:42] dualspiral opened #31 "/invsee"
This may have to wait until the Sponge API makes this possible.

[2016-03-03 14:42] dualspiral opened #32 "/repair"

[2016-03-03 14:43] dualspiral opened #33 "Item metadata commands"
This includes the name and the lore. Should these be subcommands?

[2016-03-03 14:44] dualspiral opened #34 "/jump and /thru"
Not sure of the module, could be its own. It's not warping, it's not teleporting.

[2016-03-03 14:44] dualspiral opened #35 "/ignite (/burn)"

[2016-03-03 14:44] dualspiral opened #36 "/ignore for chat and messages"

[2016-03-03 14:44] dualspiral opened #37 "/clearinventory"

[2016-03-03 14:47] dualspiral opened #38 "Consideration of world based inventories"
I see you've put it into EssentialCmds, but I don't know if it belongs in an "essentials" plugin - is it going to be well used? Gut feeling says no, but I'd like input.

We could write an "Extra" plugin that contains less used things - so non-essential stuff can go into there. We could put it in anyway.

Worth thinking about.

[2016-03-03 14:48] dualspiral opened #39 "/back"
I would rather do this on the teleport event if we can - but it's unimplemented! We'd need a way to prevent /back from logging teleports to/from jail though.

[2016-03-03 14:48] dualspiral opened #40 "/freezeplayer"

[2016-03-03 14:50] dualspiral opened #41 "Add AFK and permission groupings to /list"
List only shows display names and if someone is vanished currently. This needs more work.

[2016-03-03 15:26] kinggoesgaming commented on #24
@dualspiral that team didn't last very long....

[2016-03-03 15:28] kinggoesgaming commented on #24
Also essence sponge was abandoned in favor of my current project

[2016-03-03 16:03] dualspiral commented on #24
My point still stands, even more so now I know you were involved with the original team. Now I know where the name came from, I do not feel it appropriate that we continue using it - we, that is, @hsyyid and I, are not the essence team and I do not want people searching for "essence minecraft" to find that website suggesting we're a) a spigot plugin and b) charging - when neither are true.

I real

[2016-03-03 16:06] kinggoesgaming commented on #24
Alright alright lemme see if I do come up with another name

[2016-03-03 22:13] hsyyid commented on #24
@dualspiral I agree. I do not want this plugin to be tied or related to another plugin. We'll need to come up with a new name. I'm not sure I like `QuickStart`. Let me know if you come up with another name, I'll try to think one up too. :smile:

@kinggoesgaming Why did you recommend this name if you already knew and were a part of the Spigot plugin named this...

[2016-03-03 22:14] hsyyid commented on #39
I did this in `EssentialCmds` by saving the player's last location when they used the `/warp` command, the `/tp` command, the `/home` command, the `/spawn` command, or when they `died`.

[2016-03-03 22:16] hsyyid commented on #38
`ProjectInventories` has this feature, but I put it in `EssentialCmds` as it offered world commands, and wanted the world feature to be complete. Since we have a world module ourselves, it's worth thinking about it.

[2016-03-03 22:16] hsyyid commented on #37
What module should this go under? Please add it to the desc.

[2016-03-03 22:17] dualspiral commented on #39
Yeah - this might be a good temporary solution, at the very least. I'd like to hold off on this one just now - just in case it gets implemented soon. We do need it for 1.0 though.

[2016-03-03 22:17] hsyyid commented on #35
What module should this go under?

[2016-03-03 22:17] hsyyid commented on #36
What module should this go under?

[2016-03-03 22:17] dualspiral commented on #35
This is when it gets hard. Either `misc` or `fun` - which would need to be created.

[2016-03-03 22:18] hsyyid commented on #33
In `EssentialCmds` I did `/lore` as it's own command with subcommands, and `/setname`. Not sure if you want to have `/item lore set` and `/item name set` or something like that.

[2016-03-03 22:18] dualspiral commented on #36
This goes under multiple modules - we can do that. So, messages, chat and mail.

[2016-03-03 22:18] dualspiral commented on #33
I think we need these to be short - so maybe separate commands. We want as much space for people to type lore as possible.

[2016-03-03 22:18] hsyyid commented on #32
There may be two approaches of doing this, I think in `EssentialCmds`, I literally copied and replaced the item, I doubt this is necessary anymore, and there *should* be a way through Sponge to do this without replacing the item. I'll look into it.

What module should this go under?

[2016-03-03 22:19] dualspiral commented on #37
I did this at work as a placeholder while taking a break, and because I do not know the modules yet. This is probably an admin command, could go under `admin`.

[2016-03-03 22:20] dualspiral commented on #32
`item`, I think?

[2016-03-03 22:20] hsyyid commented on #31
Not possible in `SpongeAPI` *yet* but Mumfrey is working on it, so we'll have to wait on this. The way this command would work would be quite simple though.

[code]

[2016-03-03 22:20] hsyyid commented on #26
What module should this go under?

[2016-03-03 22:20] dualspiral commented on #26
`fun`

[2016-03-03 22:21] hsyyid commented on #29
What module should this go under?

[2016-03-03 22:21] dualspiral commented on #31
That it? That's pretty cool actually. Never worked with inventories in Bukkit, let alone Sponge, so I'm in the dark on this.

No idea on module yet. Might be `admin`, not sure.

[2016-03-03 22:21] dualspiral commented on #29
`fun`

[2016-03-03 22:22] hsyyid commented on #30
This is a bit more complicated...

Do we want to have full vanilla functionality that they provide with their `/give` command? This is something I specifically avoided in my `EssentialCmds` command.

What module should this go under?

[2016-03-03 22:23] dualspiral commented on #30
Well, that depends really. If we can't offer more functionallity, should we even define it? What did you do in `EssentialCmds`?

Otherwise, `item`.

[2016-03-03 22:25] hsyyid commented on #41
I spent a good few hours on my `EssentialCmds` version of `/list`, you're welcome to look over it. It uses permission groups.

[2016-03-03 22:26] dualspiral commented on #41
Yeah, that'd be useful. I'll do this once I get chance, probably this weekend.

[2016-03-03 22:27] hsyyid commented on #41
Okay here is a link to the [source.](https://github.com/hsyyid/EssentialCmds/blob/dd18df0401b9531164fb1d54c6683613cd896615/src/main/java/io/github/hsyyid/essentialcmds/cmdexecutors/ListExecutor.java)

[2016-03-03 22:31] dualspiral opened #42 "Create a general data store"
Much like we have user and world JSON data files, we might need a server JSON data file too. I can see this might be useful for blacklisting, for example.

Is there a use for a "global" data store? I only want to do this if this is required.

[2016-03-03 22:37] dualspiral opened #43 "Updatifier support"
In principle, sounds good. However, it's use is currently limited, and it would be nice to be able to have beta channels.

How do we use it? I guess we might need to choose a tagging format before we use it.

[2016-03-03 22:43] dualspiral commented on #41
Thanks!

[2016-03-03 22:57] hsyyid commented on #43
We can use it when we have a release system. Are we intending on using `GitHub` for releases or were we going to use something else, such as `Jenkins`?

[2016-03-03 22:58] hsyyid commented on #42
A server JSON data file seems good, especially for things that apply to the entire server, such as blacklisting, etc.

Hmm... not sure, there could be future uses, but until we have a reason for a `global` data store, none is needed.

[2016-03-03 22:59] dualspiral commented on #43
I have a Jenkins server for CI builds (but may switch to TeamCity, dunno yet), but I was thinking GitHub releases as the actual releases.

[2016-03-03 23:00] hsyyid commented on #43
@dualspiral Sounds good, in that case we need to agree on a tagging system and then we are good to use Updatifier.

[2016-03-03 23:12] kinggoesgaming commented on #43
@dualspiral @hsyyid do note that the tag shouldnt have v in it if we want jitpack to work properly. Learnt that it doesnt work properly when a release tag doesnt start with a number.

This can be seen at https://jitpack.io/#hsyyid/EssentialCmds/v7.6d where 0.4 is the last successful auto deployed version, since after that version hsyyid switched to using vx.xc format for release tag.

[2016-03-03 23:36] hsyyid commented on #40
What module does this go in?

[2016-03-03 23:39] kinggoesgaming commented on #24
@hsyyid because I am a bad king :(

[2016-03-03 23:49] dualspiral opened #44 "Setup CI server"
I have a CI server which I'll link into the plugin. I'll be just rambling on about how I configure it here - this issue is just for me.

[2016-03-03 23:51] dualspiral commented on #40
I would say `admin`, but if you have a better idea, let me know!

[2016-03-03 23:58] kinggoesgaming opened #45 "Provide a label for every module"
Basically so @hsyyid is not left asking which module does (put feature here) goes under :wink:

[2016-03-04 19:08] hsyyid commented on #45
Okay

[2016-03-04 19:08] #45 closed

[2016-03-04 19:15] dualspiral commented on #45
No. There really is no need, the modules are still up for change.
On Fri, 4 Mar 2016 at 19:08, HassanS6000 <notifications@github.com> wrote:

[2016-03-04 21:19] kinggoesgaming opened #46 "Provide Issues and Pull Request Templates"
Currently we don't a standard issue and pull request format. The users may provide only as much information as they think may help us. Sometimes that might not enough and we might have to ask more information. To prevent that, I think its best to have github templates for the PRs and issues.

---
Proposal for issue template:

We categorize issues into three types:
  * Bug
      * Sponge
        *

[2016-03-04 23:21] dualspiral commented on #45
Ok, now I've actually got access to my computer, I have more to say on this.
​
The issues in question were quickly added during a break at work today and I only had time to quickly put down my thoughts, I know that they were sparse, but sometimes that is also because I do not know which module they should be in. Modules can be chopped and changed right now anyway, and I trust that @hsyyid can use

[2016-03-05 11:17] dualspiral commented on #24
Couple of thoughts:

* Nucleus
* Essentia (but this might be too close to "essentials")

[2016-03-05 12:26] dualspiral commented on #44
I'm going to install TeamCity as I have more experience with it, and I've been struggling with Jenkins on my VPS - and I just prefer it. I will be coupling it with my Artifactory service to deploy builds there as well as on JitPack.

[2016-03-05 12:29] dualspiral opened #49 "Investigate EssentialCmds config translator."
As title. Need to try to translate the configuration over to make migration simple, if possible.

[2016-03-05 14:25] dualspiral commented on #44
https://teamcity.drnaylor.co.uk/

Should be enabled for guest login. A build is now available from there. Now, I need to hook it up with Artifactory.

[2016-03-05 14:26] dualspiral commented on #44
(I'm aware of the name. It will get updated.)

[2016-03-05 14:47] dualspiral commented on #44
Setup a webhook for GitHub -> TeamCity

[2016-03-05 15:29] dualspiral commented on #24
Going to head for Nucleus - after chatting to @hsyyid

[2016-03-05 15:40] hsyyid commented on #49
@kinggoesgaming Wrote all of the config classes that made it so easy to have multiple configs and manage them, we can probably transfer those over. If it's okay with him

[2016-03-05 15:49] dualspiral commented on #49
We don't need a config manager - as a I have one already which handles creating and updating multiple config files - https://github.com/NucleusPowered/Nucleus/tree/master/src/main/java/io/github/essencepowered/essence/config, and stores these configs at https://github.com/NucleusPowered/Nucleus/blob/master/src/main/java/io/github/essencepowered/essence/internal/ConfigMap.java

Reminds me that I ne

[2016-03-05 15:50] hsyyid commented on #49
@dualspiral Okay :+1:

[2016-03-05 16:02] hsyyid opened #50 "Add Kits Module"
**Objectives:**

* [x] - Add Config for Kits module
* [x] - Add commands for Kits module
* [x] - Add Kits module
* [x] - Add Kits cooldown/interval
* [ ] - Add Kits cost (*Can be done later*)
* [x] - Add Kit specific permissions

[2016-03-05 16:03] dualspiral commented on #50
Assigning this 1.1 as the Kits plugin can be used in the interim.

[2016-03-05 18:04] #24 closed

[2016-03-05 20:59] #21 closed

[2016-03-05 21:05] dualspiral opened #54 "Add messages file to allow server owners to create their own messages."
Follows on from #21, create a messages file that can be altered by server owners.

[2016-03-05 22:20] dualspiral commented on #44
Artifactory is now serving the artifacts: http://repo.drnaylor.co.uk/artifactory/list/minecraft/io/github/nucleuspowered/Nucleus/

[2016-03-05 22:20] #44 closed

[2016-03-05 22:34] dualspiral commented on #44
(Oh, and there is added Chuck Norris - https://teamcity.drnaylor.co.uk/project.html?projectId=QuickStart&tab=projectOverview)

[2016-03-06 16:09] dualspiral commented on #50
What about permissions per kit? `nucleus.kits.[name]`?

[2016-03-06 19:27] hsyyid commented on #50
@dualspiral I will add this to the list. :+1:

[2016-03-06 22:46] #50 closed

[2016-03-07 16:05] #46 closed

[2016-03-07 21:19] dualspiral commented on #38
I've thought about this: right now, I'd like to focus on other features - considering the inventory problems we have encountered.

If we put this in, we'll look at this either towards the end of the 1.0 cycle or for 1.1. I feel there is a lot more that is important right now.

[2016-03-08 00:25] dualspiral opened #56 "Update to Sponge API 4.0"
API 4.0 has been released. We should target this and use any features that have been added.

[2016-03-08 20:07] dualspiral commented on #11
https://github.com/NucleusPowered/Nucleus/wiki/ForumPost

Started having a go at a post. Suggestions welcome.

[2016-03-08 21:49] hsyyid commented on #11
@dualspiral I think it's good so far, we may want to include it's system is based off of your plugin, QuickStart - just an idea.

Also, we should discuss specifically which plugins are going to be moved to Nucleus so we don't say vague things like "Some of HassanS6000's other plugins will be integrated into Nucleus."

[2016-03-08 21:50] hsyyid commented on #25
This feature may or may not be possible. Last I checked it didn't work correctly due to a Sponge bug.

Here is the [code](https://github.com/hsyyid/EssentialCmds/blob/e9c97b41199da55c5c4318b23d951090ec5debe2/src/main/java/io/github/hsyyid/essentialcmds/cmdexecutors/SkullExecutor.java) I used for EssentialCmds.

[2016-03-08 23:36] dualspiral commented on #11
If you have ideas, update the wiki. As for plugins, will have to have a look in the next few days.

[2016-03-09 02:22] #37 closed

[2016-03-09 02:45] #26 closed

[2016-03-09 08:39] #56 closed

[2016-03-09 19:24] #12 closed

[2016-03-11 22:48] #41 closed

[2016-03-11 23:07] dualspiral commented on #11
Added a #nucleus IRC channel on EsperNet and registered it with ChanServ. @hsyyid - you should be down as an op and a founder.

[2016-03-11 23:18] dualspiral opened #64 "Add customisable join and leave messages"
Change those yellow messages that users see when they log in/out.

Not sure which module I'd put this in yet - probably its own. Naming it is hard then!

- [x] Create new module (if appropriate) - this means new listener!
- [x] Add ability to change the system message for a player joining or leaving.
- [x] Add defaults to the `main.conf` file, one for join, one for leave.

Bonus:

- [ ] Allow it t

[2016-03-11 23:25] dualspiral opened #65 "Add cost per kit"
This is a follow on from #50 - cost per kit was not implemented. This is so we track this for later.

[2016-03-12 03:27] hsyyid commented on #11
@dualspiral Awesome

[2016-03-12 15:59] #13 closed

[2016-03-13 11:28] #11 closed

[2016-03-13 11:35] dualspiral opened #68 "Add /blacklist"
It seems this is a popular feature in EssentialCmds - so we should take it. It should prevent other users from using, placing, mining specific blocks.

Module: `blacklist`

[2016-03-13 11:37] dualspiral opened #69 "[Sponge API 5.0] Use Localisation API"
We will want to support the Sponge API Localization API when API 5 comes out, rather than use the resource bundle solution we have at the moment.

https://github.com/SpongePowered/SpongeAPI/pull/1088

This is here as a placeholder so that we don't forget about it.

[2016-03-13 12:52] dualspiral commented on #65
I'm working on this as it was named in the forum thread.

[2016-03-13 17:01] #65 closed

[2016-03-13 22:13] #36 closed

[2016-03-13 22:19] hsyyid commented on #32
Closed in dacc8306610fd299da69b201203d7e69217bab96

[2016-03-13 22:19] #32 closed

[2016-03-13 22:20] dualspiral commented on #68
Note that this would depend on #42, I expect.

[2016-03-14 00:04] paleym opened #72 "Documentation and Planned Features"
I know its WIP but for the future having documentation of what is in and (could start this now) what will be added.

Also would be nice to know what the plans are for how the modules are broken up, how easily they could be en/disabled.

[2016-03-14 00:42] hsyyid commented on #49
I've looked over some users comments, and they have said this is a must. I will look into this one.

[2016-03-14 00:56] dualspiral commented on #49
It would be worth listing what needs migrating, where it is stored, and where it goes to, before you start coding.

[2016-03-14 01:14] kinggoesgaming commented on #49
* [ ] Homes and other player data (definitely)
* [ ] Mutes (maybe move from mysql to flatfile?)
* [ ] Warps (Not necessarily as the server owners can keep essentialcmds active while they tp to all the warps and set new warps with nucleus?)

These are the ones that I remember off the top of my head...

[2016-03-14 01:55] hsyyid commented on #35
Closed in d32c135fb73de460b6fb8aed7ff7ef0643ceae4c

[2016-03-14 01:55] #35 closed

[2016-03-14 03:00] hsyyid commented on #49
@dualspiral @kinggoesgaming I think I will first push a change to EssentialCmds to save the Mutes differently before we begin development of a migrator.

[2016-03-14 10:19] dualspiral commented on #49
While that's all well and good - don't rush this either! We need to think what is the best way to actually migrate data. There are three ways we can do this:

1) Update Nucleus to support importing EssCmd data
2) Update EssCmds so that when it detects Nucleus running (or on a command), it'll automatically use the APIs to update all the data and then disable itself. (probably easiest, to be honest!

[2016-03-14 10:24] dualspiral commented on #72
Documentation is most certainly planned - part of the reason it's lacking is because things are in a state of flux. I think we're at a point where we can start working on that now though, so hopefully we'll have something soon.

Modules and commands will be enabled and disabled through two mechanisms: plugin and user. Plugins can request to disable modules programmatically on startup, users can tu

[2016-03-14 13:12] 20zinnm commented on #72
@dualspiral I'd love to work on docs if you need. I'd envision something similar to essential's old wiki with the very useful table, but I could also spin something unique up in WebStorm.

[2016-03-14 13:58] 20zinnm commented on #34
I'd say teleporting because you are essentially teleporting to a dynamic location. Warping would be to a preset location.

[2016-03-14 13:59] 20zinnm commented on #31
@hsyyid Would that account for live changes? If the viewer "borrowed" (without returning ^^) some items, would it take effect?

[2016-03-14 14:35] 12AwsomeMan34 commented on #34
I'd say no to teleporting. Teleporting is for `/tp` or `/tpa` type commands, where the goal is to get to another user. `/jump` is a completely different command on its own, where the goal is to reach a desired nearby position. `/thru` is for passing through nearby blocks. I think that it would be best to include these in their own module, alone (perhaps just called `jump`?).

[2016-03-14 14:52] 20zinnm commented on #34
@12AwesomeMan34 what about teleporting to positions? My understanding of teleportation is the goal is to get to another location, which _can be determined_ by a specified argument, another player, etc. The goal of Jump or Thru is to get to another location, determined by a BlockRay or algorithm.

[2016-03-14 15:31] 12AwsomeMan34 commented on #34
But `/tp` and `/tpa` does *not* use a BlockRay.  Even if `/jump` and `/thru` are technically teleporting, I still don't think it's a good idea to expand the current scope of the teleporting module. As I said, imo they should be alone.

[2016-03-14 15:36] 20zinnm commented on #34
Sorry, I must not have explained it correctly.

Let’s define function teleport(location) as the base teleportation method.

/tp: Gets the location of the target before calling teleport on behalf of the subject to the target’s location.
/tpa: Gets the permission of the target before calling teleport on behalf of the subject to the target’s location.
/jump: Uses a BlockRay to determine the jump loca

[2016-03-14 16:50] dualspiral commented on #34
Semantics aside, and I can see the arguments either way - @12AwsomeMan34 kind of shows why it's a good idea for it to be a separate module. Quite simply, server owners consider `/jump` and `/tp` two completely different things - essentially, one is a short range thing, one is a long range thing.

Perhaps more importantly, and this is what I try to base my decisions on choosing modules on, is how o

[2016-03-14 16:51] dualspiral commented on #31
We'll have to wait to see how the implementation behaves.

[2016-03-14 16:58] 20zinnm commented on #40
What would this do? Freeze movement, or everything they do? Their display (stop sending any packets but keep-alive)?

[2016-03-14 17:00] 20zinnm commented on #39
@dualspiral Could we discuss this in IRC?

[2016-03-14 17:03] dualspiral commented on #39
Not for a good couple of hours yet, I'm still at work.

[2016-03-14 18:00] dualspiral commented on #40
The way EssentialCmds has it at the moment is to prevent movement and interaction, I believe.

[2016-03-14 18:15] 20zinnm commented on #39
I did some research into how this could be accomplished. When `Teleporter` is implemented in Sponge (@gabizou) we can add a NonReturnable interface to "flag" a Teleporter as non-returnable. Then, we listen for teleportation events (DisplaceEntityEvent.Move) and check the cause to be a Teleporter. Then we check if it's an instance of NonReturnable. If not, we set the /back location. If so, ignore i

[2016-03-14 18:31] 12AwsomeMan34 commented on #39
Wouldn't it be easier to just use the data api and add a `Optional<BackData> getBackLocation()` to [NucleusUser](https://github.com/NucleusPowered/Nucleus/blob/master/src/main/java/io/github/nucleuspowered/nucleus/api/data/NucleusUser.java)? Player teleports (`DisplaceEntityEvent.Teleport.TargetPlayer`, please don't use `DisplaceEntityEvent.Move`) and create a `BackData` with the previous location

[2016-03-14 18:36] 20zinnm commented on #39
I read blood say somewhere that Move was called for Teleport, but you’re right. The issue, though, is if a plugin teleports the User. We don’t want users to be able to /back to jails and we want to allow plugins to indicate they do NOT want the process reversible. Imagine:

1. Player gets teleported into an arena. Their /back location is now where they left.
2. Player fights in arena and gets tele

[2016-03-14 18:58] 12AwsomeMan34 commented on #39
What about only applying `BackData` to our own teleporting (i.e. everything in the teleporting, warps etc... modules)? I suppose an issue may arise if another teleporting plugin comes along and does it's own teleporting, so `/back` would need to apply to the modules that we have available, or allow the teleporting plugin to override our `/back`.
This way, we don't have to worry about plugins imple

[2016-03-14 19:03] 12AwsomeMan34 commented on #34
Either way, whoever is interested in implementing this, at least consider some of the comments/code in [here](https://github.com/hsyyid/EssentialCmds/pull/73), unless you can think of a better way of handling that.

[2016-03-14 19:04] 20zinnm commented on #34
@12AwsomeMan34 I'm interested ^^ looking into it now.

[2016-03-14 19:18] dualspiral commented on #39
I thought about it, but that might lead to somewhat inconsistent behaviour with other plugins - something you correctly note. Not yet sure what the best thing to do is yet.

My feeling is we should wait. If it gets closer to release and we really need `/back` - then we'll do it that way then.

[2016-03-14 20:13] hsyyid commented on #40
@dualspiral Correct.

[2016-03-14 20:14] hsyyid commented on #39
@dualspiral Why not do what @12AwsomeMan34 suggested and then switch when blood finishes the Teleport event?

[2016-03-14 20:15] hsyyid commented on #72
@20zinnm That would be very, very helpful :+1:

[2016-03-14 20:17] dualspiral commented on #72
If you do, please make it compatible with GitHub Pages.

[2016-03-14 20:18] dualspiral commented on #39
Because it's duplication of work, basically. I don't want to add it if it's likely to be finished before we go live, just so we have to remove it.

[2016-03-14 21:23] hsyyid commented on #40
Closed in e7688990b1c397de9968909170aeb4d47b9a19bb

[2016-03-14 21:23] #40 closed

[2016-03-14 22:20] kinggoesgaming commented on #72
Honestly a jekyll powered site would be neat... Html + css + js + markdown... Yea baby

[2016-03-14 22:21] 20zinnm commented on #72
Can do.

[2016-03-15 10:10] dualspiral opened #76 "Module system improvements"
I had a rather long conversation with @20zinnm last night over IRC about the module system. While I believe it's fit for purpose and I initially dismissed much of it, I've slept on it, and have been considering if I could do it better.

There are a few things I'm thinking of. Any of these may or may not come off, this is currently a thought dump:

- Modules should be self contained in their own pa

[2016-03-15 14:44] 20zinnm commented on #76
I like this. One thing: should modules get their own config file, or a portion of the main?

[2016-03-15 14:57] dualspiral commented on #76
Depends really - probably a portion of the main. I need to work it out in full detail though - because it also affects the data files we have, and that in some cases modules might try to access other modules.

As I said, big undertaking - depends what the real gains are from this.

[2016-03-15 14:59] 20zinnm commented on #76
I’ll draft up a proposal format—basically, it will extend a Module class which provides a getConfig() and registerCommand().

[2016-03-15 15:00] dualspiral commented on #76
Please don't bother at this stage - still need to work out how I really want it to work.

[2016-03-15 15:00] 20zinnm commented on #76
Oh, and module control files will have an annotation. Using Reflections we can scan for all classes with that annotation in the package, so in the future a PR for a new module will not need to be manually merged with another.

[2016-03-15 15:03] dualspiral commented on #72
@20zinnm

Original designs I made for the plugin before I started working with @hsyyid can be seen at http://quickstart.dualspiral.co.uk/ - not saying this is in any way perfect but may be a good starting point. I am, however, keen on keeping the black bar at the top in some similar fashion (though it doesn't need to be fixed on the page like that), and I have a Nucleus logo I have developed, at l

[2016-03-17 14:16] necrodoom opened #77 "Investigate use of item alias file to allow for variation in item/block names."
More of a question than an issue or a request, but i was wondering what is planned for the /give feature set. I was wondering if some of my old data files for Essentials (Bukkit) would be of use for you.

[2016-03-17 18:03] dualspiral commented on #77
Depends what your old Essentials files contain - but as far as I recall, the give command was mostly command flags. I haven't really given it much thought as of yet, as Minecraft does have a give command.

What exactly would you be looking for in a /give command. It might help give some direction for initial versions of the command.

@hsyyid - if you can keep up with this, I'm pretty swamped right

[2016-03-17 18:48] necrodoom commented on #77
I still have an updated items.csv for 1.8, which i could update for 1.9, if Nucleus will support item name aliases. Its still using the old ID system, but i could update it to minecraft item names if you are interested in the file.

[2016-03-17 18:54] dualspiral commented on #77
Oh, I see - your question is essentially about item ID aliases.

Right now, I don't believe there are plans to support such a feature, but at the same time, I don't think it'd be too hard to do it. In Bukkit, when everyone was using item IDs and damage values, this was really useful.

However, in Sponge, as you correctly note, but may be of interest to others that come to this, everything is alrea

[2016-03-17 19:08] necrodoom commented on #77
The original items.csv got a bit hectic, but among the more used aliases were shovel/spade, pickaxe/pick, birch/panda, log/normallog/oaklog, halfblock/step, stairs/stair, leaf/leaves/leaves, etc. The current adapted file for 1.8 is at 8091 lines though, so it could probably use some cleanup.

[2016-03-17 19:25] dualspiral commented on #77
It might be better to write some engine that looks for specific subwords and tries substitutions based on it, it really just looks like it's regional variations of the same thing that is the biggest issue. We might find that's a much more manageable solution.

I'll put it on the list to investigate, thanks!

[2016-03-17 19:32] necrodoom commented on #77
Ive considered regex scanning, however the problem is that you have to look for many name conflicts in aliases that could potentially fit two items, and removing an entire block is just not viable.

[2016-03-17 19:34] dualspiral commented on #77
Yeah, I realise that can potentially be a huge problem with this method - however, a huge alias file is just not something anyone wants to maintain.

I wonder if there is a good way to generate it at runtime, using a set of substitutions, with an override list. I'll have to think about it.

[2016-03-18 20:04] dualspiral opened #78 "Use QuickStart Module Loader to load Nucleus modules"
This follows on from #76.

I've been building https://github.com/NucleusPowered/QuickStartModuleLoader to try to make it a little easier to manage our modules. See #76 for rationale, but this issue will track implementation.

I've used automated tests to test QSML, so it looks like it should work.

- [x] Depend on QSML.
- [x] Create custom module constructors.
- [x] Create AbstractModule that does

[2016-03-21 21:56] dualspiral commented on #76
#78 #79

[2016-03-22 20:41] #76 closed

[2016-03-22 20:41] #78 closed

[2016-03-22 21:06] dualspiral commented on #68
As part of #42, I've added a global data store with a list of `ItemType`s. This might not necessarily be the correct thing to be checking for, but the list was just added to test my implementation. It can be changed once this is revisted.

[2016-03-22 21:07] #42 closed

[2016-03-22 22:10] dualspiral commented on #34
#80.

Considering whether the length of the `/jump` and `/thru` `BlockRay`s should be configurable.

[2016-03-22 22:38] 20zinnm commented on #34
Of course. Allow a maximum search range.

[2016-03-22 23:44] dualspiral commented on #34
Well, it already does - I just took the constants from EssCmds. I'm just considering is there is value in allowing server admins to configure it, and I believe there is value. Tomorrow's job.

[2016-03-24 19:02] #34 closed

[2016-03-24 19:48] hsyyid commented on #29
I'll be doing this one shortly :smile:

[2016-03-24 20:20] kinggoesgaming commented on #29
@hsyyid add a flag for no damage maybe..

[2016-03-25 15:31] dualspiral opened #82 "Add /firstspawn and /setfirstspawn"
Self explanatory, I hope. Going into to `spawn` module.

[2016-03-25 15:34] dualspiral opened #83 "Add ability to change modules and command registration with commands."
@Tzky requested a feature:

https://forums.spongepowered.org/t/wip-nucleus-the-ultimate-essentials-plugin-a-joint-project-between-dualspiral-and-hassans6000/11792/5

Not sure when I'll get to this, but I think it's a good idea. Targetting 1.1 for now, if I think of a good way to do this sooner, I'll try to get it in for 1.0.

[2016-03-25 19:06] #82 closed

[2016-03-25 21:26] kinggoesgaming commented on #72
@20zinnm any progress or I can start on a jekyll based site...

[2016-03-25 21:58] 20zinnm commented on #72
Go ahead, got caught up elsewhere.

[2016-03-25 22:03] kinggoesgaming commented on #72
@20zinnm alrighto

@dualspiral mind making a `NucleusPowered.github.io` repo so I can fork it and start working?

[2016-03-26 01:33] dualspiral commented on #72
Yeah, I will.

Before you properly get into it, mind sharing how you envisage it looking or working?

[2016-03-26 01:43] kinggoesgaming commented on #72
For the base I am planning on using Jekyll.. since Github already supports it. For the foundation a little html and css and then using layout templates for all the information pages. I am not too good with JS though...

[2016-03-26 01:55] dualspiral commented on #72
...I was talking about design, not the backend. The backend is something I'll make a decision on later.

I'm interested in ideas of how it _looks_ at this point. I know we have to use Jekyll IF we stick with Github pages, **which is not a given at this stage**. I have a VPS which I am more than happy to use and so I'm not going to remain constrained on that.

I was interested in ideas for design.

[2016-03-26 01:56] dualspiral commented on #72
I should add that I've thrown up my old QuickStart design at http://nucleuspowered.github.io/ for a start. I'm keen on keeping the black bar at the top personally.

[2016-03-26 01:57] kinggoesgaming commented on #72
sure i will see what i can come up with :)

[2016-03-26 12:21] dualspiral commented on #64
I did this as part of #86, but not the per-player messages. That can be done in a different issue.

[2016-03-26 12:21] #64 closed

[2016-03-26 12:22] dualspiral opened #87 "Add per-player login/logout messages"
See #64 - the bonus was to allow individual players to specify login/logout messages. This could be done at some point.

[2016-03-26 14:57] #54 closed

[2016-03-26 17:54] #29 closed

[2016-03-28 22:07] kinggoesgaming commented on #83
The biggest issue I see with this is that there might be memory leaks.

[2016-03-28 23:00] dualspiral commented on #83
No there won't. I can't disable modules and commands in a running state, it would be for next restart.

In no way would there be a memory leak.

[2016-03-28 23:09] kinggoesgaming commented on #83
I thought it was Runtime enabling/disabling :P

[2016-04-02 16:42] hsyyid commented on #25
I'll add this in today, but it won't work - unless some bugs were fixed recently with the implementation of the data required to set the player on the skull.

[2016-04-02 16:58] dualspiral commented on #25
Alright - leave it as a PR when you're done.

[2016-04-03 12:28] dualspiral commented on #72
OK, so I've generated data that describes the commands and permissions we use - which I will attach here. This has been generated by a quick tool I wrote: https://github.com/NucleusPowered/DocGen, in tandem with updates to Nucleus itself.

I'm going to try to get something ready on a docs site today.

[2016-04-03 12:30] dualspiral commented on #72
If anyone is interested at looking at condensed YAML - https://gist.github.com/dualspiral/8de663b7fcf7aa324dabd0414cb2b48b

Don't worry, I don't plan to use that as the documentation!

[2016-04-03 13:55] dualspiral commented on #72
http://nucleuspowered.org/docs/commands.html
http://nucleuspowered.org/docs/permissions.html

It's not that pretty, but it's a start and contains our progress so far.

[2016-04-03 14:38] hsyyid commented on #25
@dualspiral When did you buy a domain =3

[2016-04-03 14:38] hsyyid commented on #25
@dualspiral It does look good tho =3

[2016-04-03 15:01] dualspiral commented on #25
@hsyyid Few days ago - figured "why not?".

[2016-04-03 16:26] 12AwsomeMan34 opened #101 "List of minor issues"
Rather than create a bunch of issues for a bunch of (mostly) minor things, I decided to create them all into one issue.

I've been playing around with Nucleus for a bit now and came across some issues. They are listed below:

- [x] 1. experience commands don't inform that a player is in creative
- [x] 2. /ban gives useless error message, cannot figure why I cannot ban someone - #103
- [x] 3. /ban

[2016-04-03 17:14] dualspiral commented on #101
1. OK
2. OK
3. That's because it's using Sponge to get the UUID - if the player has never joined, that's why. Will look into obtaining UUIDs
4. Example of where this is?
5. As intended right now.
6. Yep.
7. I agree
8. I thought I'd fixed that - will do so.
9. That's emulating Essentials by calling it "home" - but I see your point.
10. (and 11) That was one of the first commands I did before I real

[2016-04-03 17:42] 12AwsomeMan34 commented on #101
`4.` Example `/blockinfo` facing stone, you get `minecraft:stone`. Facing andesite, you get `minecraft:stone`. Some difference between the two would be nice, maybe in the name (see `20`).
`5.` I worded that wrong. I meant that you can type `/ignore <player>` several times and it will continue to say that the player was ignored, rather than saying 'this player is already on your ignored list'.
`10

[2016-04-03 17:45] dualspiral commented on #101
We're using Sponge's getTranslatable() to display that - so that might be better directed at Sponge.

[2016-04-03 17:49] dualspiral commented on #101
You may also be able to get more information if you turn on debug mode. In `main.conf`, you can set core.debug-mode to `true`. May not be too useful, but it's worth knowing about.

[2016-04-03 18:11] 12AwsomeMan34 commented on #101
The system time seems correct. http://i.imgur.com/pwlezjN.png
Albeit in milliseconds rather than seconds, but still same concept.

I've also tried changing the time locale to English (US) with no avail.

[2016-04-03 18:18] dualspiral commented on #101
Locale should be respected on the server - but I'm getting 15th March - so something strange is going on. I'll look into that.

`/list` and `/tppos` are working for me. In the latter case, negative numbers aren't being accepted, but I think that's a sponge bug. Have you got stack traces?

[2016-04-03 18:21] dualspiral commented on #101
`/mail` was me saving the date in milliseconds, but trying to read it in seconds - fixed that.

[2016-04-03 18:27] dualspiral opened #103 "Improve /ban"
From #101

[2016-04-03 18:29] 12AwsomeMan34 commented on #101
Sure thing.
list - https://gist.github.com/12AwsomeMan34/25a6b6d4537ad0636e405d57b40bf320
Ignore the tppos one, it's only for teleporting to extremely low/high y values (example y at 0, or y at 300). Although checking that and informing the player of this may be better than letting Sponge throw an error at them for it.

[2016-04-03 18:30] dualspiral commented on #101
As soon as I saw that stack trace - all I thought was "bollocks". I'm missing a lot of injectors, I need to automate this.

`/tppos`, it's still a bug in my eyes so catching that is a good idea.

[2016-04-03 18:32] 12AwsomeMan34 commented on #103
Scratch the 'useless error message', here's a stacktrace: https://gist.github.com/12AwsomeMan34/3716b1b58a11c50bb632883b2a5698d4

[2016-04-03 18:33] dualspiral commented on #101
Oh, apparently, I've already fixed that `/list` one, heh...

[2016-04-03 18:39] dualspiral commented on #101
`26` -> that works for me. In your `main.conf`, change `{{name}}` in `chat.template.prefix` to `{{displayname}}`, and if the server is running while you do this, run `/nucleus reload`. The nickname should then appear in chat.

[2016-04-03 18:42] 12AwsomeMan34 commented on #101
Okay yeah updating fixed the list one (I was using a build from yesterday).

Changing to `displayname` fixed the nick, but one question: why is it `name` by default? If a user wanted to use a nick, they shouldn't have to jump through the config files to enable it.

[2016-04-03 18:43] dualspiral commented on #101
That's another task - some of the current defaults are throwbacks to when things weren't implemented. You're right, it should be changed.

[2016-04-03 18:48] dualspiral opened #104 "Re-implement /god"
From #101

`/god` is actually implemented wrong, and needs fixing.

[2016-04-03 19:36] dualspiral commented on #101
I've fixed some of the issues and pushed the fixes to master.

[2016-04-04 01:49] hsyyid commented on #103
I've got this one

[2016-04-04 09:25] dualspiral commented on #103
Just reopening to keep sight of the second part of this:

[2016-04-04 11:32] hsyyid commented on #103
@dualspiral Whoops! Forgot about that

[2016-04-04 11:36] hsyyid commented on #101
I'll fix #12

[2016-04-05 17:12] hsyyid commented on #49
I will begin working on an easy way to transfer EssentialCmds values to Nucleus very soon.

[2016-04-06 17:46] #104 closed

[2016-04-08 15:24] necrodoom commented on #49
If you still need migration help for Essentials, i can grab @khobbits.

[2016-04-08 17:18] kinggoesgaming commented on #49
@necrodoom @hsyyid meant essentialcmds not essentials

[2016-04-09 09:53] dualspiral opened #106 "Tracking for Release 0.1"
I'm going to be working on releasing a beta version. Tasks are:

- [x] Finish documentation for commands - #72, #100
- [x] Fix other easy issues in #101
- [x] Add build rule for `release/*` in TeamCity so those builds get deployed to Artifactory
- [x] Ensure DocGen can generate all necessary documentation.
- [x] Freeze development on 0.1.
- [x] Test 0.1. Perform fixes if necessary.
- [x] Branch to

[2016-04-09 12:40] dualspiral commented on #101
I've done 12 now.

[2016-04-09 14:47] #103 closed

[2016-04-09 15:00] hsyyid commented on #106
Awesome

[2016-04-09 18:01] dualspiral opened #108 "Make structural changes to allow DocGen to be much cleaner"
DocGen is very hacky at the moment. Consider adding interfaces and such to make it easier to integrate DocGen.

[2016-04-09 18:24] dualspiral commented on #106
0.1 has branched. Future development on `master` will now target 0.2. Feel free to continue development on `master`.

[2016-04-10 14:21] dualspiral commented on #106
I found an issue with warps, but that was minor and has been fixed. Proceeding with release.

[2016-04-10 14:36] dualspiral commented on #106
https://github.com/NucleusPowered/Nucleus/releases/tag/0.1.0

[2016-04-10 14:49] #106 closed

[2016-04-10 15:42] hsyyid commented on #68
@dualspiral How should the command structure for this bit be? All subcommands of `/blacklist` like in EssentialCmds?

[2016-04-10 15:49] dualspiral commented on #68
I think so, it makes sense to do so.

[2016-04-10 20:03] kinggoesgaming opened #112 "change packages"
Since nucleuspowered.org is now registered under you guys, it might now be a good idea to move from `io.github.nucleuspowered` to `org.nucleuspowered`

[2016-04-10 21:04] dualspiral commented on #112
No. I'm not making yet another breaking change like this - there really is no need.

[2016-04-10 21:04] #112 closed

[2016-04-10 21:31] kinggoesgaming commented on #112
thats fine :smile:

[2016-04-12 00:44] 12AwsomeMan34 commented on #101
Thinking about the mail one, would such functionality really be desired? I'm not sure if allowing others to read people's mail is a great idea (privacy ofc). On the other hand, omitting it leaves a potential hole for users to exploit (sending advertisements, malicious users communicating, etc.), and mods can already see private messages.

So on that thought, is viewing others mail desired? And if

[2016-04-12 08:53] dualspiral commented on #101
I'm going to put the mail thing in its own issue.

[2016-04-12 08:55] dualspiral opened #114 "Improve mail functionality"
From #101, @12AwsomeMan34 said:

Just some thoughts.

Mail currently has send, read, search/filter (need to document how though) and clear.

Ideas here are:

- [x] Delete individual mails
- [x] View other's mails.
- [x] Delete other's mails.

[2016-04-14 20:08] #68 closed

[2016-04-14 20:16] #33 closed

[2016-04-15 10:08] dualspiral commented on #72
http://nucleuspowered.org/docs/

I've been working through creating module specific docs on our website, to try to show how some of the commands work. Clearly is a work in progress, but comments are welcome at any stage!

[2016-04-18 22:34] hsyyid commented on #101
I'll continue working on some of these later today and tomorrow. :)

[2016-04-22 11:31] dualspiral commented on #30
So, thinking about this a bit more, I'm inclined to _not_ offer a `/give`, because Minecraft's version does a good job. However, we should look at offering a simpler version, maybe `/i`.

If that's the case, what should we allow it to do?

[2016-04-22 11:32] dualspiral commented on #38
I don't think we should add this. It's a specialist feature that most servers won't likely use, and I think something like Project Inventories can do a much better job on this, as that is it's only focus. EssentialCmds has a lot of issues with this IIRC.

[2016-04-22 11:34] dualspiral commented on #49
#117

[2016-04-23 15:24] theboomer opened #119 "Teleporting issues"
Version 0.1.1 on spongeforge 1285 .. not version specific to spongeforge problem, i assume, this is a new setup:

The teleport ask and teleport here ask commands will NOT work for players with just the .base permissions, it Requires the .force  permissions as just to use the simple /tpa bob  and /tpahere bob commands without the -f force flag overrides

If this IS intentional, please note so in th

[2016-04-23 15:28] theboomer opened #120 "Homes /listhomes is triggering wrong command when clicked"
Version 0.1.1 on spongeforge 1285 .. not version specific to spongeforge problem, i assume, this is a new setup:
--
the /homes  or /listhomes  command presents a clickable list of homes to the player, but the command it tries to fire is /homeother selfplayername homename

It should fire just /home homename  for the player, since they are trying to access their own homes, and do not have access to

[2016-04-23 15:49] #120 closed

[2016-04-23 15:50] dualspiral commented on #120
Thanks - this will be fixed in the next release.

[2016-04-23 16:08] #119 closed

[2016-04-23 16:12] dualspiral commented on #119
Yes, you're correct, `force` shouldn't be required. That, along with the other issue, will be fixed in the next version.

[2016-04-23 19:33] #39 closed

[2016-04-23 19:34] dualspiral commented on #39
91a2e4f03567fedeca9e4d78697f70eda5368895

[2016-04-25 09:19] dualspiral opened #122 "Allow Nucleus to write updates to configuration files"
Currently, Nucleus will only read from configuration files, not write to them. It could very well be useful to some server admins to be able to run commands that save/update config entries. This could be useful for Rules, for example, so that rules can be added to/removed from the config file directly from the server.

[2016-04-30 15:27] #122 closed

[2016-05-01 16:56] SnowBlitzz opened #124 "Firstjoin kit"
Wouldn't it be nice to add a function to the kits module to have it give a default kit to players on their first join only and after that they won't be allowed to claim it again and won't show up on their /kit list

[2016-05-01 17:11] dualspiral commented on #124
This has been requested from the forum topic, I directed it to be put here.

My thoughts on how to implement - don't treat it as a normal kit, but as a special `/starterkit [set|remove|redeem]` command that only Admins can access. That way, we don't have to do anything special in other parts of the code.

[2016-05-01 18:31] hsyyid commented on #124
@dualspiral On top of this, I think we need to have the ability to let users create Kits that can only be used one time, as this is not possible yet - I believe it was also mentioned on the forums page.

[2016-05-01 18:34] dualspiral commented on #124
Yep!

On Sun, 1 May 2016 at 19:31 HassanS6000 <notifications@github.com> wrote:

[2016-05-02 14:39] #38 closed

[2016-05-02 16:09] SnowBlitzz opened #125 "Separate Kits list"
/kit list shows all the kits even for players who do not have access to the kit
would be nice to add a separate list that shows only what kits they have access to /kits

[2016-05-02 16:12] kinggoesgaming commented on #125
Maybe /kit sows the permitted kits and /kit --all shows all?

[2016-05-02 16:14] dualspiral commented on #125
@kinggoesgaming Is there a valid use case for showing kits that can't be redeemed?

[2016-05-02 16:49] #114 closed

[2016-05-02 16:56] #125 closed

[2016-05-02 16:56] dualspiral commented on #125
It'll be in the next release, thanks.

[2016-05-02 17:14] kinggoesgaming commented on #125
@dualspiral Admin purposes?

[2016-05-03 08:51] #27 closed

[2016-05-03 18:09] hsyyid commented on #49
Closed. #117 merged in 47e1771e8987c811ee9e4f101d069add72ec887e

[2016-05-03 18:09] #49 closed

[2016-05-03 19:54] hsyyid opened #128 "One-time Kits"
I think it's important to have the ability to let users create Kits that can only be used one time, as this is not possible yet - I believe it was also mentioned on the forums page. (Rather than have users input an insanely large amount of time as the delay)

[2016-05-04 10:54] dualspiral opened #129 "Make chat formatting more inter-plugin friendly"
See comments at https://github.com/NucleusPowered/Nucleus/commit/73b971660c698142cef5c7e650568cc9eb0d48cd#commitcomment-17342868 and forum post at https://forums.spongepowered.org/t/lets-get-chat-formatting-right/12613 by @ryantheleach

I do agree we need to be more forgiving when it comes to chat, and I know that Sponge has tried to provide ways to make it easier to do so. However, I am not clear

[2016-05-04 10:57] dualspiral opened #130 "Provide a staff chat channel"
I don't think having a full blown Chat Channel system necessarily belongs in Nucleus, but what about a dedicated staff chat channel? mcMMO had this using `/a`.

Thoughts?

[2016-05-04 11:06] dualspiral commented on #129
https://docs.spongepowered.org/master/en-GB/plugin/text/messagechannels.html will be of use.

[2016-05-05 14:19] dualspiral opened #131 "Add /enchant command"
From the forums:

Module is probably `item`, but I'm open to other suggestions.

[2016-05-05 23:48] 12AwsomeMan34 commented on #101
Getting this beautiful error again on latest teamcity build (`#963`). Another log if you need an updated one:
https://gist.github.com/12AwsomeMan34/a5e94a936ac43db4a3c9d720fc799732

[2016-05-06 13:11] dualspiral commented on #101
Hmm. I'm beginning to think that using the injectors so liberally might be a bad idea, because what is happening is that Guice will inject a new instance of the adapter if one hasn't been registered - which makes it harder to determine when we've forgotten something. I'll think on that, that's a different issue.

That said, I think this isn't really to do with the injectors, I used the wrong confi

[2016-05-06 14:16] dualspiral commented on #101
Just for interest, the fix for that last issue is: https://github.com/NucleusPowered/Nucleus/commit/fd35cba7d6fc7b11bfdd13742ae1cac972c9072a - which will go in later today.

[2016-05-07 13:41] #124 closed

[2016-05-07 16:49] dualspiral commented on #130
No matter, doing it now.

[2016-05-07 16:56] #130 closed

[2016-05-08 14:21] #128 closed

[2016-05-08 18:12] Skquad opened #137 "Give command not working properly in latest"
Before installing the latest version of nucleus today, giving items worked fine via the /give command. I had been using command blocks to give myself player heads via uuid for decoration (http://heads.freshcoal.com/maincollection.php) - however since the latest version it has not been working. Also when doing /give Skquad minecraft:log or /give minecraft:log it does not work either.

[2016-05-08 18:14] Skquad opened #138 "Coloured signs not working / implemented"
Coloured sings aren't working, nor is formatting such as &k or &l

[2016-05-08 18:17] dualspiral commented on #137
I accidentally left a placeholder in the code for `/give`, my mistake. For now, until I get a fix out, use `/minecraft:give`, that should do what you had before.

[2016-05-08 18:17] dualspiral commented on #138
It's not implemented yet, but I'll leave this here as a placeholder.

[2016-05-08 18:34] dualspiral commented on #137
https://github.com/NucleusPowered/Nucleus/releases/tag/0.3.1

[2016-05-08 18:34] #137 closed

[2016-05-08 21:45] hsyyid commented on #138
@dualspiral I'll do this tonight :smile:

[2016-05-08 22:26] dualspiral commented on #138
Make it its own module - `signs`. I imagine we can use that for other sign based things - such as warp signs.

[2016-05-09 03:10] hsyyid commented on #138
@dualspiral Okay. Will do soon, ran out of time tonight

[2016-05-10 01:40] Skquad opened #139 "/enderchest"
Title says it all

[2016-05-10 01:45] kinggoesgaming commented on #139
@Skquad unfortunately inventory api is not fully implemented for this afaik

[2016-05-10 01:54] Skquad commented on #139
I thought I remebered it working with EssentialCmds, my bad.

[2016-05-10 02:06] kinggoesgaming commented on #139
hsyyid/EssentialCmds#76

[2016-05-10 07:35] dualspiral commented on #139
Just because we can't do it doesn't mean we won't do it. Reopening so we don't lose sight of it.

[2016-05-13 11:24] dualspiral opened #142 "Move to DataAPI for storing data, rather than configs"
So, Sponge has the Data API. At first, I thought it was just a shim that was transient, but I've recently come to realise that actually, it'll save to NBT now (I think), for entities and soon worlds.

I don't want to do this straight away, but it would be neat to move to the Data API to do some, if not all, of our user data storage.

One for the future.

[2016-05-14 12:22] #131 closed

[2016-05-15 00:21] i9hdkill opened #144 "/kit setcooldown/remove only works for kit for which you have nucleus.kits.kitname permissions"
Ttitle says almost everything.
Lets say we have two kits.
starter
tools

I have the nucleus.kits.starter permission and the nucleus kit remove permission.
Now, I can only remove kit starter, but not the tools kit.

Shouldn't people with the remove permission be able to remove/setcooldown of all kits?

[2016-05-15 01:36] dualspiral commented on #144
Yep, know what the issue is, will fix when I'm at my computer. Thanks.

[2016-05-15 06:23] #138 closed

[2016-05-15 06:23] hsyyid commented on #138
Closed in 02743d278a4012a26941a8166e480fd8059f0c52

[2016-05-15 13:09] #144 closed

[2016-05-15 16:59] #28 closed

[2016-05-17 01:38] SnowBlitzz commented on #87
Perhaps a way to completely disable them as well? I mean it like when a player joins it doesn't broadcast that he joined nor when he leaves. Not saying that my server is big, but for big servers the chat gets spammy with the join/leave messages

[2016-05-17 01:44] SnowBlitzz opened #149 "Add an /info command"
For example I want /vote to return a vote link that's clickable by players (I know some listener plugins have this but just an example) or /how to give a list of tutorial links or info about the server. /imnew to give a quick guide the players about the server.

We could make our own custom slash commands with maybe "/customcmd imnew Welcome to the server! So to get started you...." or create and

[2016-05-17 08:50] dualspiral commented on #149
I don't think creating a custom command is something Nucleus should be doing, but I plan to add a "/info" command like Essentials did.

The idea would be that you could create a load of text files in the `/config/nucleus/info` folder and write in those, like the MOTD. Then, when a player runs `/info`, they will see a list of text files they can read, and clicking on the name will run the `/info <f

[2016-05-17 08:55] dualspiral commented on #87
@SnowBlitzz There actually is - I just haven't documented it.

Set `modify-login-message` and `modify-logout-message` to false, then have empty connection messages. The connection message is then cancelled.

[2016-05-17 10:31] SnowBlitzz commented on #87
Wouldn't that just send an empty line?

[2016-05-17 10:34] dualspiral commented on #87
Nope.
On Tue, 17 May 2016 at 11:32, SnowBlitzz <notifications@github.com> wrote:

[2016-05-17 10:34] SnowBlitzz commented on #149
Ah this is great too. I forgot all about /info but how you explain it right now sounds like an improved version of it which is awesome. Hope it supports links and color code as well :+1:

[2016-05-17 11:00] dualspiral commented on #149
Yeah, it will.

[2016-05-18 03:23] SnowBlitzz commented on #129
Complex discussion there, I think I understand (?) In essentialcmds /msg, /reply or /broadcast.. anything that sends a string is not affected by Pwnfilter (a chat filter) so I assume implementing this would fix this?

[2016-05-18 11:11] dualspiral commented on #129
Don't you just listen for the commands by changing the configuration in PwnFilter and act on that?

That said, if you want better integration, that's actually PwnFilter's issue. It listens for `MessageChannelEvent.Chat`, if it listened to the `MessageChannelEvent` then it could catch at least /broadcast, including in EssCmds. I think we will change the messages to use the `MessageChannel`s at some

[2016-05-18 13:39] SnowBlitzz opened #150 "Null occuring during check for cooldowns"
I've set /repair to have a 24 hour cooldown but i can do it consecutively.
when i do it first time it fixes the tool,
second time it returns Error occured while executing command: null
after that you can use it again immediately, and then the cycle repeats

also the aliases don't seem to work. I've set in the sponge config nucleus=repair but the essentialcmds one takes over, same goes for rules, s

[2016-05-18 13:45] hsyyid commented on #150
I doubt `nucleus` is Nucleus's plugin ID. Use ``/sponge plugins` and click on Nucleus to get the real `id` you need to use for your aliases.

[2016-05-18 13:49] SnowBlitzz commented on #150
oops I just realized my mistake there... that was stupid XD, the command comes first before the plugin ID. Question though is the plugin ID case sensitive? /sponge plugins show it with a capital N

[2016-05-18 14:02] dualspiral commented on #150
We need for information:

* In the config file, set the config option `core.debug-mode` to `true`.
* Run `/nucleus reload`
* Perform the steps again, **replacing `/repair` with `/nucleus:repair`** (or remove EssentialCmds) to make sure you have the right plugin.
* Add a gist or pastebin of the log that gets spit out if/when it fails.

[2016-05-18 14:11] dualspiral opened #151 "Split Nucleus to have a separate API jar"
I figure this might be more useful for some plugin developers to have a more stable API layer, and will encourage us to be more rigorous with any APIs in that package. We then just shade it into the main JAR, like we do with QSML.

[2016-05-18 14:13] SnowBlitzz commented on #150
I was using /nucleus:repair the whole time though

[2016-05-18 14:17] dualspiral commented on #150
That wasn't clear, but I still need any output from the console after doing the above steps!

[2016-05-18 14:21] SnowBlitzz commented on #150
testing right now, and oh the aliases really does not work even if I'm following the right format right now

[2016-05-18 14:25] SnowBlitzz commented on #150
set config option debug-mode to true, reloaded nucleus and did the command. nothing showing up on console but here's whats showing up in-game chat

http://puu.sh/oWoUO/5d8fa15d11.png

[2016-05-18 14:28] dualspiral commented on #150
OK, it's concerning that there is no console dump. I'll look into it when I get chance, I suspect that it's something to do with the cooldown code, rather than repair. Can you put a cooldown on something else and test that? Again, no need to restart the server to do this, a reload is fine.

Group ID is `io.github.nucleuspowered.nucleus`. Bear in mind that this might simply become `nucleus` soon (b

[2016-05-18 14:30] SnowBlitzz commented on #150
Hmm could you also add a message that shows if a command has a warmup? like "Teleporting to <player>. Please do not move for x seconds" or "Warping to <warpname>. Please do not move for x seconds"

Some players might not know there's a warmup, move and the command won't happen

[2016-05-18 14:31] SnowBlitzz commented on #150
I added 10 second cooldown to jump, again nothing on console but same thing in chat: http://puu.sh/oWppJ/d5f374dfe0.png

[2016-05-18 14:35] dualspiral commented on #150
https://github.com/NucleusPowered/Nucleus/blob/master/src/main/java/io/github/nucleuspowered/nucleus/internal/command/AbstractCommand.java#L549 - should be doing it, possibly except in the case of teleportation. If it isn't, that a different bug.

[2016-05-18 14:48] SnowBlitzz commented on #150
I'll test more on the warmup msg and make a separate ticket on it if it still happens.

How do I alias nucleus though? cuz the mod id "nucleus" doesn't seem to be working for me

[2016-05-18 14:53] SnowBlitzz opened #152 "Warmup message colors"
http://puu.sh/oWqFy/6f26fb6398.png

the colors didn't register XD

[2016-05-18 14:54] SnowBlitzz commented on #150
this shows up in the console 18.05 10:54:08 [Server] Server thread/INFO Unable to find plugin 'nucleus' for command 'tpa', falling back to default

[2016-05-18 15:18] dualspiral commented on #150
`io.github.nucleuspowered.nucleus`, not `nucleus`

[2016-05-18 15:19] SnowBlitzz opened #153 "Add support for "namecolo(u)r" option."
{{displayname}} and {{name}} not affected by permissionsex option namecolor

[2016-05-18 15:21] dualspiral commented on #153
Where does it say that it should be?

[2016-05-18 15:21] dualspiral commented on #152
https://github.com/NucleusPowered/Nucleus/blob/master/src/main/java/io/github/nucleuspowered/nucleus/internal/command/AbstractCommand.java#L549 - should be a very quick change to that line.

[2016-05-18 15:23] SnowBlitzz commented on #153
It should be though, right? If not I guess this could be a suggestion

[2016-05-18 15:37] dualspiral commented on #153
I'm curious to know where else you've seen that, I've never seen this myself.

Happy to take the suggestion on board, but it isn't a high priority right this moment.

[2016-05-18 16:06] SnowBlitzz commented on #153
Ah, it was on essentialcmds. Doing, example, /pex group Member options namecolor yellow sets the displayname/name to yellow.

[2016-05-18 16:10] dualspiral commented on #153
OK, cool, thanks.

[2016-05-18 17:03] SnowBlitzz opened #154 "Side facing on /spawn"
Currently any command involving teleportation such as /spawn, /home or /warp faces you on the side you are already looking at (east will make you still look east after teleporting) This however doesn't happen in essentialcmds (when you set a warp/spawn/home when facing north, when you warp there you would also face north no matter which side you were facing prior to teleporting) so I guess it can

[2016-05-18 17:15] SnowBlitzz commented on #152
Also for cooldown messages just in case you missed it http://puu.sh/oWz60/d222567f5f.png
The color isn't right, plus the timer isn't showing correctly
Maybe there are more I haven't discovered yet.

[2016-05-18 17:25] dualspiral commented on #154
Except that I implemented it so that for /spawn, /warp and /home, as well as /tp, that the rotation is set as you expect it - [this code clearly sets the location and rotation when running /warp, for example](https://github.com/NucleusPowered/Nucleus/blob/master/src/main/java/io/github/nucleuspowered/nucleus/modules/warp/commands/WarpCommand.java#L76).

I'll test, but last time I used it, it did w

[2016-05-18 17:26] SnowBlitzz opened #155 "default rank shows unknown on /list"
http://puu.sh/oWzOD/bb64f3961f.png
only the default rank is like this, other ranks show fine.
just minor though, but ah enough tickets for today XD I think you'll have fun fixing them

[2016-05-18 17:30] #152 closed

[2016-05-18 17:31] dualspiral commented on #155
No, keep them coming. Even if we don't have enough time to fix them today, I want to know about them, and I want them fixed!

[2016-05-18 17:39] SnowBlitzz commented on #155
Sure thing, if I find more that is XD thanks for the hard work you put on the plugin :100:

[2016-05-18 17:41] SnowBlitzz commented on #152
Not really good with code but from what I can tell there the colors got removed, however the 'false timer' isn't fixed http://puu.sh/oWz60/d222567f5f.png (same screenshot I used above XD)

[2016-05-18 17:44] dualspiral commented on #152
No, it should be fixed. I had to change the `(0)` to `{0}` to fix that problem.

[2016-05-18 17:45] SnowBlitzz commented on #152
Ah didn't notice the second part below. Gotcha

[2016-05-18 17:46] dualspiral commented on #154
I tested `/home` and `/warp`, they are working fine. `/spawn` is a different matter - I expect that's what you tested.

[2016-05-18 17:50] SnowBlitzz commented on #154
A player reported me on this, and I only tested spawn to believe them XD yes, just spawn I guess

[2016-05-18 17:53] dualspiral commented on #154
So, I can see why. Minecraft only stores the spawn location, not the rotation. What I'll do is store the rotation when spawn is set, and apply it whenever /spawn is run, and I'll try to catch respawn events too and fix the rotation.

[2016-05-18 17:55] SnowBlitzz commented on #154
/firstspawn works fine though, so I assume it wouldn't be hard to find how to fix it

[2016-05-18 17:56] dualspiral commented on #154
Yeah, /firstspawn is entirely in Nucleus, /spawn uses the vanilla Minecraft spawnpoint - that's the crucial difference.

It's OK. It's not hard, I should have this done in a bit.

[2016-05-18 18:34] SnowBlitzz opened #157 "Add ability to send links using /m"
Title kinda self explanatory. Also have a permission for it on /msg & /r as well

[2016-05-18 18:58] dualspiral commented on #157
It's `nucleus.chat.url` for chat in the latest builds. Not implemented for /msg yet - will do that at some point, but is not highest priority.

[2016-05-18 19:01] #154 closed

[2016-05-18 19:08] dualspiral commented on #150
Found the error, it's a CME... :(

[code]

Time to fix it!

[2016-05-18 19:28] #150 closed

[2016-05-18 19:30] dualspiral commented on #155
Are they actually in a named group? If the default is unnamed, that's why - but giving it a better name, maybe "Default", and a configurable name would be good.

[2016-05-18 19:50] dualspiral commented on #155
In fact, that's what I'm going to do. There will be a configurable name in `main.conf` under `nucleus.player-config.list.default-group-name` that will let you set it. Defaults to "Default".

[2016-05-18 19:51] #155 closed

[2016-05-19 03:40] SnowBlitzz commented on #155
Is there an updated unofficial release I can test with all the changes that's been made so far?

[2016-05-19 05:34] SnowBlitzz opened #158 "Motd shows full page, broken on console"
http://puu.sh/oXfNl/a9e91e0844.jpg

It shows a whole page even though there's only one line in the motd file.

~~Also is there a way to remove the -------MOTD--------- header and footer? Would be nice to just show it without the header and footers~~ -> split into #159

[2016-05-19 07:32] dualspiral commented on #158
The original code gave me something that did this - https://github.com/NucleusPowered/Nucleus/pull/147#issuecomment-219295042 - so why that happens to you, I do not know. Check to see if you have any blank lines at the end of your file.

SpongeForge version you are using?

[2016-05-19 07:33] dualspiral commented on #158
Also, not as it stands.

[2016-05-19 09:03] dualspiral opened #159 "Add way to change the title for the MOTD"
@SnowBlitzz said on #158

Either:

* Add an option in the config file -> `info.motd-title`
* Add a title by adding a # to the first line and using that.

First is probably more discoverable, second might be favoured by power users. Might do both.

[2016-05-19 09:46] SnowBlitzz commented on #159
Ahhh I just like how organized your ticket system is. Very admirable.

[2016-05-19 09:48] SnowBlitzz commented on #158
There are no blank lines in the file. It's using the automatically generated one which only has 1 line.

[2016-05-19 11:04] dualspiral commented on #158
SpongeForge version?

[2016-05-19 12:32] SnowBlitzz commented on #158
1335

[2016-05-19 16:37] dualspiral commented on #158
OK - this is because of https://github.com/SpongePowered/SpongeCommon/pull/639. This change causes what you see, it was merged yesterday and broke this.

As an aside, I'm getting this on SpongeForge when using the console to display the MOTD, because I try to set as many lines as possible to display the MOTD on one page:

[code]

[2016-05-19 20:02] dualspiral commented on #158
I've created a PR to Sponge to try to fix this issue - a feature PR was merged in two days ago - but it had some side-effects that breaks running these commands from the console and causes the problem you've seen.

I won't be trying to make any fix to this on the Nucleus side until I know whether my proposed fix will be accepted into Sponge. If it is, this is fixed automatically, if not, I need to

[2016-05-20 03:05] LemADEC opened #160 "CommandLogger could use a filter"
As of Nucleus-0.3.1-all.jar, when enabling CommandLogger, console gets spammed with announcements message going through the /say or /broadcast commands.
Hence, it would be nice to not log those known commands that will anyway log their action.
Ideally, this could be done through a configurable whitelist, but for now, just removing those 2 commands would be a great improvement.

[2016-05-20 13:15] SnowBlitzz commented on #158
Just to add some info, /seen also shows a full page which didn't happen when I was still in sponge 1329: http://puu.sh/oYIM9/3b87d70680.png

[2016-05-20 15:45] dualspiral commented on #158
Yep, this is also going to happen for `/rules`, listing homes, warps, mails, etc.

[2016-05-20 15:47] dualspiral commented on #160
Yep, fair point.

My plan would be to allow to filter by source type (console, commandblock, playey) and then to have support a blacklist or a whitelist (both will be available, user selected).

[2016-05-20 16:08] 20zinnm commented on #139
We could write all the code in a separate branch (using the theory of it) and later test it when it's implemented.

[2016-05-20 17:42] LemADEC commented on #160
To me, command logger is interesting to catch commands that don't provide logs or are obscur (like an invalid command error doesn't give the actually command that was tried out). Hence, I'm more interested in filtering by command type than filtering by command sender.

[2016-05-20 19:32] #159 closed

[2016-05-21 03:39] SnowBlitzz commented on #158
Also does it not support spaces in front of the words? I tried to center the message to something like this:
                             Welcome
      You can check out our website at <website>

but it all goes to the left

[2016-05-21 04:55] hammikb opened #162 "Requesting Feature /tps or /gc"
Is thier any way you can add a command to show tps, loaded chunks, and entities in every world

[2016-05-21 05:19] kinggoesgaming commented on #162
/tps will be available in sponge soonish

[2016-05-21 06:26] hammikb opened #163 "Allow kits to keep capital letters in the name"
Can you make it so the space is not that big and can you make it so we can make the kits start with capital letters?

![2016-05-20_23 25 50](https://cloud.githubusercontent.com/assets/8346677/15446880/3a3e0850-1ee2-11e6-8fbb-e56e6ac4ac3a.png)

[2016-05-21 08:06] dualspiral commented on #163
That's due to a change in Sponge. I've made a PR to Sponge to fix this at https://github.com/SpongePowered/SpongeCommon/pull/734, so I have to wait to see if they accept it or not. If not, we'll find some other way around it.

Yep, we'll do that, oversight on our part.

[2016-05-21 08:08] dualspiral commented on #162
I think `/sponge tps` is a thing now, right? I think you're looking for more information like Essentials though, right? We'll look into it!

[2016-05-21 08:13] dualspiral commented on #158
It _should_ do, but again, that's a separate issue. I'll look into it when I get chance.

[2016-05-21 11:03] SnowBlitzz opened #164 "Option to list kits, warps, etc in a different manner"
Currently kits, warps and homes, etc lists like this

[code]

An option to list it like this so it doesn't take up a lot of lines in chat would be nice:
`kit1 [butllet] kit2 [bullet] kit3`

[2016-05-21 11:17] SnowBlitzz commented on #162
Some plugins have this such as twentyticks or enjin, though it could also be implemented to nucleus as it does seem like an essential command to have

[2016-05-21 12:40] SnowBlitzz opened #165 "Update docs for MOTD"
I figured what the perm for /motd was (nucleus.motd.base), added it to the default rank. However when they join they don't get the motd message (set to true in the config, also reloaded. They can do /motd and see the message but just not on join) so I thought there's a different permission for them to get this on join because when I gave myself OP permissions I get the message on joining. Either t

[2016-05-21 12:57] dualspiral commented on #165
https://github.com/NucleusPowered/Nucleus/pull/147

They will be updated once I release 0.4, remember, that build isn't a released version!

[2016-05-21 13:01] SnowBlitzz commented on #165
Ah yes, was testing the pre-release lol. May I know the permission node though?

[2016-05-21 13:02] SnowBlitzz commented on #165
Gotcha!

[2016-05-21 17:19] i9hdkill opened #166 "Feature: Toggle death messages on/off"
See title.
A simple option to toggle death messages on/off would be really cool.

[2016-05-21 17:28] i9hdkill commented on #166
Nvm, there is a gamerule for this

[2016-05-21 17:28] #166 closed

[2016-05-21 18:32] #160 closed

[2016-05-21 19:44] #163 closed

[2016-05-21 22:41] #149 closed

[2016-05-22 14:56] hsyyid opened #171 "Use @Root rather than @First to avoid major issues"
`@Root` is the root cause of the event, whereas `@First` is for whenever a player is in the cause. Using `@First` in various places could cause issues, especially with tracking who places a block, etc.

[2016-05-22 15:06] dualspiral commented on #165
http://localhost:4000/docs/modules/info.html

[2016-05-22 15:06] #165 closed

[2016-05-23 15:51] dualspiral commented on #158
Full page MOTD fixed in Sponge.

[2016-05-23 15:51] #158 closed

[2016-05-23 16:16] SnowBlitzz opened #172 "/lightning bug"
http://puu.sh/p2mEe/078b039fa8.png

[2016-05-23 16:55] SnowBlitzz opened #173 "Remove informing players on /tp"
/tp or /teleport (maybe /tphere as well; didn't have the time to test) informs the player on the other end who teleported to them. /tp is supposed to be an admin command, sometimes used for stealth or checking out on a player so it would be nice if the other end wasn't informed of who teleported to them.

[2016-05-23 18:50] dualspiral commented on #173
It's not always used as an admin command, I know of servers that have /tp as a general perk, so my rationale was to have it alert the user.

Nevertheless, I see your point. I'll make a config option and a set of flags for the command, I think.

[2016-05-23 19:23] hsyyid commented on #172
I know what this is caused by, I'll fix this in a bit.

[2016-05-23 20:04] dualspiral commented on #172
I thought I'd fixed it, obviously not. I know it was working for /spawnmob.
Ensure that the cause chain is otherwise preserved, the player should be
left in there!
On Mon, 23 May 2016 at 20:29, HassanS6000 <notifications@github.com> wrote:

[2016-05-23 21:33] SnowBlitzz opened #174 "/fly isn't working"
You can use the command, it tells you you can now fly but you can't

Edit: hmmm Player with OP permissions can fly
I think it's because I have both essentialcmds and nucleus and some players have fly turned off on essentialcmds so uhmmm this can be closed perhaps

[2016-05-23 23:04] kinggoesgaming commented on #174
@SnowBlitzz make sure you check the command aliases in global config

[2016-05-23 23:24] SnowBlitzz commented on #174
Yeah I do have. The essentialcmds fly takes over however. After you log out, your fly automatically disables so you have to turn on the essentialcmds fly first before you can do the nucleus fly

[2016-05-24 07:28] dualspiral commented on #174
Yes, EssentialCmds will be causing problems I bet. Try removing EssentialCmds and seeing what happens.

[2016-05-24 08:51] dualspiral commented on #172
https://github.com/NucleusPowered/Nucleus/blob/master/src/main/java/io/github/nucleuspowered/nucleus/modules/fun/commands/LightningCommand.java#L90

I'm sure that's right. Can you check that EssentialCmds isn't taking over and, more importantly, that you're not using an outdated version of either plugin?

If it is Nucleus, please set `core.debug-mode` in `main.conf` to `true` and `/nucleus reload`

[2016-05-24 13:52] dualspiral opened #175 "Add ability to have "sign" warps"
This is a much requested feature. We need to:

Add Data for the following:

- [ ] Warp Name
- [ ] Permission Required
- [ ] Custom Warmup

Add Commands for the following:

- [ ] Create Warp
- [ ] Add/Remove Permission from Warp
- [ ] Add/Remove Warmup

Do we just put this on signs, or on any block? If we just put it on signs, do we force the signs to have some sort of marker on the sign to indicat

[2016-05-24 14:20] Meronat commented on #175
I find the general format where it says something like [Warp] on the first line then the warp name on the second, then possibly any extra information on the next lines. I think having it on a block is sort of unnecessary as there isn't an amazing way to portray that it is a warp block.

It could be good to be able to fill in the sign manually with the warp tag and name but also a command(with a se

[2016-05-24 15:19] Meronat opened #176 "New command - Contextual Player Time"
In the original Essentials plugin there was a command "/ptime" and I think that would be a great addition to the plugin,  but I'm not sure if it is possible until contextual data is added completely to Sponge. If possible the addition of "/pweather" would be great as well but I'm not sure if that is possible as well.

"/playertime"
- Aliases: "/ptime"
- Accepts the same arguments as the time comma

[2016-05-24 15:50] dualspiral commented on #176
I think you're right, we'll be waiting for Contextual Data. However, I'll keep an eye out for when that happens.

[2016-05-24 16:39] dualspiral opened #177 "Nucleus is occasionally not loading properly"
http://pastebin.com/abK7gt3e
SpongeForge: spongeforge-1.8.9-1808-4.1.0-BETA-1282

Normally, I don't like the idea of backporting to older versions, but in this case, I'm going to look into why there seems to be a failiure when loading Nucleus on said older version with Pixelmon, as there seems to be a problem with Sponge/Forge/Pixelmon that prevents using older versions.

It seems that Nucleus isn

[2016-05-24 17:34] dualspiral commented on #177
`java.lang.NoClassDefFoundError: org/spongepowered/api/event/game/GameReloadEvent`

Just going to write a quick mechanism to check for declared classes before trying to get Guice to load them - this will be useful for x.1 additions.

[2016-05-24 18:02] dualspiral commented on #172
Just tested this on the latest Sponge version, it works for me no problem.

[2016-05-24 18:04] #177 closed

[2016-05-25 01:34] SnowBlitzz commented on #172
Ah this can be closed now

[2016-05-25 01:37] #172 closed

[2016-05-25 18:11] paleym opened #179 "Add /vanishsee"
Add command to allow seeing vanished players.

[2016-05-25 18:16] SnowBlitzz commented on #179
or just a permission node to see vanished players like in vanishnopacket

[2016-05-25 21:31] dualspiral commented on #179
This will get done as soon as Contextual Data arrives, we can't do it before then.

[2016-05-25 21:58] paleym opened #180 "Requesting Feature: Command Logger Separate File"
It would be nice to have (or option to) logged commands in a separate file outside of the .log, as it would be much simpler to search / sort through.

[2016-05-28 16:49] dualspiral opened #181 "Cannot use enchants with kits"
Steps to reproduce:

* Create item with enchant
* Create kit containing the enchant
* Redeem kit - correct enchant is on the item
* Restart server
* Redeem kit - enchant on new item is now displayed as "Protection enchant.level.0"

[2016-05-28 16:54] dualspiral commented on #181
Here are the two kits, bows and bow2:

[code]

I can see what they were stored as, so is there an error in serialisation or deserialisation in Sponge somewhere?

[2016-05-28 16:57] dualspiral opened #182 "Allow for a click action when clicking on a player's name."
From the forums:

I propose we make it configurable.

[2016-05-28 17:02] dualspiral commented on #174
@SnowBlitzz - have you confirmed whether this is because you have EssentialCmds installed? I can't reproduce this without it.

[2016-05-30 13:23] SnowBlitzz commented on #173
Got the test build from teamcity and tried it.
teleport {
    # If true, by default, a target player will not be informed that they have been /teleport ed to. Override using "-q false"
    default-quiet=true
}
but the players are still informed

[2016-05-31 22:43] dualspiral opened #186 "Add ability to template /m"
From the forums:

[2016-05-31 22:44] dualspiral opened #187 "Add ability to charge per warp."
From the forums:

[2016-06-01 11:24] dualspiral commented on #173
Ok. Will look into this once I have a chance to do so.

[2016-06-02 16:10] dualspiral commented on #173
I've mixed up the variables. I just need to work through it again...

[2016-06-04 21:50] #173 closed

[2016-06-06 17:19] SnowBlitzz opened #189 "No afk timer when in vanish"
You still get the afk message when you are in vanish for a long time. Well, the point of vanishing is for stealth, and I know there's an exempt permission for the afk message but having it automatically exempt during vanish would be nice. I'd like to have it announce the afk when the player is not in vanish.

[2016-06-06 17:26] hsyyid commented on #189
This should be a configurable option

[2016-06-06 18:48] #189 closed

[2016-06-07 03:17] SnowBlitzz commented on #153
Any updates on this? @hsyyid should have an idea how to implement this I believe

[2016-06-07 03:29] 12AwsomeMan34 commented on #153
There's literally a PR right above your comment... #191

[2016-06-07 05:26] SnowBlitzz commented on #153
Oh XD I'm very much familiar with github and it's stuff

[2016-06-07 12:31] #153 closed

[2016-06-07 13:56] SnowBlitzz opened #192 "/vanish error"
http://puu.sh/pk2V6/df962d6182.png

[2016-06-07 14:02] SnowBlitzz opened #193 "Allow for templating broadcasts the same way as chats are."
Add a broadcast suffix. What I'd usually do with the suffix is add -{{name}} so people know who broadcasted the message, but it can be anything.

[2016-06-07 14:15] dualspiral commented on #192
Nucleus 0.5 will target API 4.1 _only_, you're using an outdated build. Thus, you need to update to SF build 1402 or SV build 334.

[2016-06-07 14:15] #192 closed

[2016-06-07 14:16] dualspiral commented on #193
Probably just better to provide a template system like the chat.

[2016-06-07 14:25] SnowBlitzz opened #194 "/reply"
/reply to easily reply to messages without doing /msg <player> again

[2016-06-07 14:44] dualspiral commented on #194
...it exists. See https://github.com/NucleusPowered/Nucleus/blob/master/src/main/java/io/github/nucleuspowered/nucleus/modules/message/commands/ReplyCommand.java

If it's not working, then we need to know why. However, if you're still using EssentialCmds, I bet that's getting in the way.

[2016-06-07 14:45] SnowBlitzz commented on #194
Oh it wasn't in the documentation so didn't know :/ sorry about that

[2016-06-07 15:02] SnowBlitzz opened #195 "Implement /realname"
http://puu.sh/pk6Gm/df2d4f69df.png

[2016-06-07 15:03] SnowBlitzz commented on #194
oh and it doesn't detect previous message: http://puu.sh/pk6PE/a5e7b433ab.png

[2016-06-07 15:09] dualspiral commented on #195
Realname isn't implemented yet.

[2016-06-07 15:09] #194 closed

[2016-06-07 15:16] SnowBlitzz opened #196 "No first join msg and first join kit"
Grabbed the latest development version from teamcity and it seems that the first join message doesn't work anymore and first join kit as well

[2016-06-07 15:24] dualspiral commented on #196
Sponge added a `hasPlayerBefore` method, which I decided to use. It turns out that they way it works is not how I'd expect it to work. I'll revert that change.

[2016-06-07 15:27] #196 closed

[2016-06-07 15:38] SnowBlitzz commented on #196
Cool, I'll grab the development version and test, see if there are more bugs. There's a compile error in teamcity btw

[2016-06-07 15:46] dualspiral commented on #196
Fixed it, give it a few minutes then go nuts!

[2016-06-07 16:38] SnowBlitzz opened #197 "First join message"
using lastest build from teamcity as I post this now
http://puu.sh/pkcgP/8758d32b2e.jpg
First join message has a blank line below always.
this is in the main config
    # This message uses all the standard Minecraft colour codes, prefixed by "&". Use "{{name}}" for the new player's name.
    first-login-message="&aWelcome to &6Mirage&3Craft &8{{name}}&a!!"

Also I've been standing on spawn and not

[2016-06-07 19:33] dualspiral opened #198 "Fix first join firing"
Split from #197

Sponge helpfully added `Player#hasPlayedBefore()`. Unfortunately, it doesn't work very well as it checks the first and last played times are equal, and the last played time starts ticking as soon as a player joins. This isn't what I would expect from the method, and is no good for our needs, because as soon as we start the `ClientConnectionEvent.Join` event, this returns `true`, e

[2016-06-08 00:10] SnowBlitzz commented on #197
Just an update: This issue seems to have been fixed when updated to SF 1414

[2016-06-08 01:07] SnowBlitzz opened #199 "/freezeplayer broken"
Nucleus Version: latest development build on teamcity as this is being posted
SpongeForge Version: 1414

http://puu.sh/pkJ0f/b159107f19.png
/freezeplayer can still have the player move but it spams this message very fast when they do. When they're not moving however it still spams twice every second. Other players see me standing still when in fact I'm moving during this phase.

[2016-06-08 01:09] SnowBlitzz opened #200 "/msg improvements and error"
Nucleus Version: latest development build on teamcity as this is being posted
SpongeForge Version: 1414

/msg doesn't take the first letters of a name. I used to be able to do /msg pio for the player "pioavenger" but now it requires full name or it will return "That player does not exist"

Also when you do /msg pioavenger <msg>(the way correctly) it returns "An error has occured trying to perform

[2016-06-08 01:22] SnowBlitzz opened #201 "/r always going to the very first person they got /msg'd from"
Nucleus Version: latest development build on teamcity as this is being posted
SpongeForge Version: 1414

So yeah /reply or /r for short, which many people use, always goes to the very first person they got /msg'd from.

[2016-06-08 01:46] SnowBlitzz opened #202 "Blacklist bug"
Nucleus Version: latest development build on teamcity as this is being posted
SpongeForge Version: 1414

[code]
Blacklisted tnt as an example, players were still able to place (gets message "tnt blacklisted, you may not interact with, mine or place this item", but still able tp place anyway) BUT not break. Players are still able to pickup and drop the item, and can still exist in their inventory.

[2016-06-08 03:06] SnowBlitzz commented on #174
I've migrated to nuclues already and removed ess, using the latest development build of nucleus on teamcity. This still happens. the essentialcmds fly works perfectly fine though so @hsyyid might have an idea how to fix this.

[2016-06-08 04:23] hsyyid opened #203 "ConcurrentModificationException onPlayerQuit"
http://pastebin.com/N3xHexFh

[2016-06-10 13:54] dualspiral commented on #197
Possibly a Sponge bug then. If you can find a way to reliably produce this problem, that would help greatly.

[2016-06-10 14:00] dualspiral commented on #200
Nothing has changed on our end, but we use Sponge's argument parser to do that for us - so that's probably changed.

Stack trace? (`main.conf`, `core.debug-mode` -> `true` job!)

[2016-06-10 14:01] dualspiral commented on #202
Some of that is Sponge, some of that is probably rubbish handling on our side. Will look into it.

Yep, but we will make it configurable.

[2016-06-10 14:02] dualspiral commented on #201
So, if I've got this right, if player A gets a message from B and then C, then A does `/r`, B will get the message, not C?

[2016-06-10 14:04] dualspiral commented on #199
Related: #171

[2016-06-10 14:23] dualspiral commented on #174
`/fly` has an explicit toggle argument, `/fly true|false`. Can you try using those to set/unset fiying when you get into a state where this isn't working? That would help me pinpoint the problem.

[2016-06-10 16:47] SnowBlitzz commented on #197
I don't know if I can since it happens at random and nothing shows on console. I'm on SF 1424 now and it still happens

[2016-06-10 16:51] SnowBlitzz commented on #201
If player A gets a message from B, then player A replies to B with /r (working) theeennn player A gets a nother message from C and replies to C using /r the reply goes to B

[2016-06-11 00:59] Maxqia commented on #174
During my testing, It seems like /fly only works on your first join after a server reboot. After that, It doesn't work

[2016-06-11 16:26] #198 closed

[2016-06-11 16:42] dualspiral commented on #200
I think this is the cause of #201. You say you have an error, but the message gets sent - which means that the error comes in after the message gets sent, but before the reply list is updated. It also means that the first time you sent a message, everything was OK - so this means that this is probably intermittent.

Therefore, that error is crucially important.

As for the first letters of a name,

[2016-06-11 16:52] dualspiral commented on #200
@SnowBlitzz

I don't know if this will fix the errors you've had, but can you test https://github.com/NucleusPowered/Nucleus/pull/205 for both this issue AND #201 (/r)? If not, again, stack traces would be helpful please.

[2016-06-11 16:53] dualspiral commented on #197
@SnowBlitzz

The first time player problem should be fixed, but I'm not sure about the extra line. With the latest build (or the one I've asked you to test in #205), can you let me know if things are better?

If you feel the bugs are resolved, please go ahead and close the issue.

[2016-06-11 17:26] dualspiral commented on #174
I've created a new build which is available attached to PR #206 (first comment) that might fix that problem. If you feel inclined to test it for me and see how it goes, that'd be great, thanks!

[2016-06-11 19:31] bloodmc opened #207 "Chat becomes blank due to URL conversion."
http://pastebin.com/raw/NKE7tDnj

Using latest SpongeForge 1.8.9 and 0.4.4 nucleus

Simply type 'test.minecraft:test' to reproduce error. Nucleus attempts to convert the text into a URL.

issue is here

https://github.com/NucleusPowered/Nucleus/blob/master/src/main/java/io/github/nucleuspowered/nucleus/ChatUtil.java#L161

For SpongeVanilla,
Instead of throwing an exception, it should simply log a

[2016-06-11 23:11] Maxqia commented on #174
Seems to work.

[2016-06-12 00:40] bloodmc opened #208 "Command NoSuchElementException"
One of my players reported this issue when typing a command.

http://pastebin.com/raw/TDFx9WQB

Latest SpongeForge 1.8.9
0.4.4 Nucleus

[2016-06-12 01:05] bloodmc opened #209 "Entity traveling via Portal ClassCastException"
http://pastebin.com/raw/76KL71vK

SF Latest 1.8.9
0.4.4 Nucleus

[2016-06-12 01:22] bloodmc opened #210 "Server logins randomly breaks flying in creative mode"
My gamemode is set to creative and I noticed I am unable to fly after a server login until I reconnect. This occurs randomly and is probably caused by some logic you are running on player login.

Tested on latest SpongeForge 1.8.9
Nucleus 0.4.4

[2016-06-12 04:45] #174 closed

[2016-06-12 04:52] dualspiral commented on #209
https://github.com/NucleusPowered/Nucleus/blob/master/src/main/java/io/github/nucleuspowered/nucleus/modules/back/listeners/BackListeners.java#L55-56

The event that's getting called is `DisplaceEntityEvent.TargetPlayer.Teleport` - based on which, I would expect that the `event.getTargetEntity()` method returned a `Player`. So, I would expect that the cast I make is always valid.

It's an easy fix

[2016-06-12 05:31] bloodmc commented on #209
@dualspiral Strange, that event shouldn't even trigger.... Anyway, the listener is wrong now, it should be the following

DisplaceEntityEvent.Teleport and simply check event.getTargetEntity for player

[2016-06-12 13:09] dualspiral commented on #209
Gotcha, thanks.

[2016-06-12 14:40] #210 closed

[2016-06-12 15:32] #200 closed

[2016-06-12 15:51] bloodmc commented on #162
It isn't needed. Just use '/sponge tps'

[2016-06-12 16:05] #209 closed

[2016-06-12 16:09] hsyyid opened #214 "Unable to create binding for java.util.Set<java.lang.Class<? extends io.github.nucleuspowered.nucleus.internal.command.AbstractCommand>>"
http://pastebin.com/D3E7c8Fv

[2016-06-12 16:18] dualspiral commented on #214
Interesting. Not seen that happen to me before. I'll have to trace it through - I bet I'm relying on a behaviour that isn't quite right.

The offending code is at https://github.com/NucleusPowered/Nucleus/blob/master/src/main/java/io/github/nucleuspowered/nucleus/internal/qsml/module/StandardModule.java#L85-L90 - but that injector should only be local, so should not be bound twice. The fact that i

[2016-06-12 16:24] hsyyid opened #215 "ConcurrentModificationException on PlayerLogin"
http://pastebin.com/eM6SyMTk

[2016-06-12 16:57] dualspiral commented on #215
I think this issue is the same as #203, see the line `io.github.nucleuspowered.nucleus.config.loaders.UserConfigLoader.clearNullSoftReferences(UserConfigLoader.java:118)`

Just need to be a bit better with locking.

[2016-06-12 16:58] #208 closed

[2016-06-13 04:27] SnowBlitzz commented on #174
Hmmm there seems to be a problem when players unmount from a flying pokemon when on the sky though, they get kicked from flying. I have no idea if it's connected to nucleus, but they were able to unmount in the sky before fine and just fall to their death.

[2016-06-13 15:19] dualspiral commented on #174
It shouldn't be. I'd check by removing Nucleus and seeing what happens.

[2016-06-13 16:37] #203 closed

[2016-06-13 16:38] #215 closed

[2016-06-14 18:09] #214 closed

[2016-06-16 12:59] SnowBlitzz opened #217 "/jump allows for moving outside the world border"
/jump goes out of the world border

[2016-06-17 00:54] #201 closed

[2016-06-18 00:40] SnowBlitzz opened #218 "Tab and nametag color"
Since the namecolor feature was added why not add an enhancement to it by also changing the namecolor for the tab list and the nametag above your head? This would help find people easier when searching the tab list.

[2016-06-19 07:44] SnowBlitzz commented on #197
It still sends an extra line, using the latest build 4 hours ago from this post

[2016-06-20 14:03] Skquad opened #219 "/rtp"
Random Teleport, the feature is in essentialcmds but not here! :)

[2016-06-21 23:07] hsyyid commented on #207
Closed via 827883180d691beaa3f8e949534cd33f5eb38f2a

[2016-06-21 23:07] #207 closed

[2016-06-21 23:23] hsyyid opened #220 "Powertool Feature Possibility"
Brought up by a specific user of Nucleus on Discord.

Instead of having just powertools linked to players - possibly have ones linked to the item itself via custom data? This way powertools can be given to other players.

In addition, the user requested possibly making a type of powertool that will run as Console - to allow players to run commands with specific items that they do not have permissi

[2016-06-21 23:25] hsyyid opened #221 "Migrator Support Nexus as Well"
`Nexus` is another Essentials style plugin for Sponge. A user (also on Discord) requested that we extend our support for migration to `Nexus` instead of solely `EssentialCmds`.

Thoughts? @dualspiral

[2016-06-23 00:26] dualspiral commented on #221
I don't mind personally, but I don't want it to trigger any upset from the Nexus dev either.

I want to revamp the migrators a little bit so we can easily include Kits too - I'll put the framework in over the weekend.

[2016-06-23 00:28] dualspiral commented on #220
We could, but I don't think it's a high priority right this moment. If we do, we need to work out the best way to prevent misuse - maybe find a way to add access control so it's useless in the wrong hands.

[2016-06-23 20:40] WryWolfy opened #222 "[Suggestion] AFK Message Customization"
Howdy!

I've been looking through the configs of nucleus and I can't seem to find a way to customize the kick for being afk message sent to the server chat nor the message sent to the player's client.

It'd be very useful to me to be able to do so - specifically in my situation, I'd like to disable the chat message completely (but I'm sure others might want to format it differently).  As far as th

[2016-06-24 08:58] SnowBlitzz opened #223 "Max nick length"
There's already a min nick length so why not add a max? :D

[2016-06-24 16:06] RysingDragon opened #224 "Essentialcmds -> Nucleus migrate error"
When using /nucleus migrate i get this message in chat "An error occurred trying to migrate EssentialCmds data." followed by this in console http://pastebin.com/ZNzt6Hun

[2016-06-24 18:28] #224 closed

[2016-06-24 19:19] dualspiral commented on #221
Not tested it yet (I'm going to do it once I'm back at my testing rig, tomorrow), but PR #225 has the said framework.

[2016-06-24 19:20] dualspiral commented on #223
Sure.

[2016-06-26 16:08] dualspiral commented on #221
The migrator framework is in. Things to note:

* `/nucleus migrate` -> `/nucleus migrate esscmds`
* Create a `DataMigrator` and populate the `migrate()` method (https://github.com/NucleusPowered/Nucleus/blob/af7a37276130d2d9d4d4c11c48fe4032e86648b9/src/main/java/io/github/nucleuspowered/nucleus/internal/migrators/EssCmdsMigrator.java)
* Add any plugin ID dependencies in the `@DataMigrator.PluginDe

[2016-06-26 16:43] #223 closed

[2016-06-26 16:48] dualspiral commented on #222
Can I ask for your use case a bit more? Does this mean you still want AFK to show in `/list` (for example), but just not send the message? Or did you just want the kick timer, and not the AFK part?

I'm just trying to get a handle on what you're actually asking for so I can make sure my solution to this covers your use case.

[2016-06-26 16:52] dualspiral commented on #219
Does this go in the teleport module? It is kind of like `/tppos`, but without the co-ords being specified. It could go in its own module though, because I think some server owners will see `/rtp` as sufficiently different to teleporting.

At first, make sure the `/rtp` is bounded by the world border, else, choose sensible defaults. It's probably worth making it configurable, but that can be done a

[2016-06-26 21:11] SnowBlitzz opened #227 "Nick filter"
Profanity Filter - Prevents a user from using explicit language/words in their name. *Alerts the player that the name is not accepted due to it being inappropriate.*

Name Filter - Prevents the user from creating a name that is already taken by another player. *Alerts the player trying to /nick that the name is already taken.*

I'm not sure if this can be done, but would be nice.

[2016-06-26 21:24] SnowBlitzz opened #228 "Setting warps or homes on slabs/carpets"
Setting warps or homes on slabs/carpets.... so uhh if you set a warp or home on a slab or carpet (there may be more I haven't tested) it doesn't teleport you to the exact location when you /home or /warp but instead it teleports you to the nearest block that doesn't have a slab or carpet.

[2016-06-26 22:48] dualspiral commented on #228
Try adding `-f` to your warp command (so `/warp -f <warp>`) and tell me what happens.

[2016-06-27 02:27] RysingDragon commented on #224
just got another error while trying to migrate again today http://pastebin.com/8AiRznht

[2016-06-27 11:16] dualspiral commented on #224
I assume you're using 0.4.4, that error should be fixed in the next version which should be coming out very soon (tm).

[2016-06-27 11:52] SnowBlitzz commented on #228
adding -f will make it work correctly.

[2016-06-27 11:57] dualspiral commented on #228
Yep, then it's not a Nucleus problem. Without `-f`, we use Sponge's
`setLocationAndRotationSafely` method which has this behaviour.
On Mon, 27 Jun 2016 at 12:52, SnowBlitzz <notifications@github.com> wrote:

[2016-06-27 12:01] SnowBlitzz commented on #228
Ah, a sponge issue then

[2016-06-27 12:27] #228 closed

[2016-06-27 18:49] dualspiral opened #230 "Add way to set world border"
We have a worlds module. Seems logical we hook into Sponge's world border support.

[2016-06-27 19:13] #217 closed

[2016-06-27 23:13] RysingDragon commented on #224
I actually compiled the plugin myself for the fix since I was impatient and really wanted to migrate asap.

[2016-06-28 00:21] Meronat commented on #230
You should add support for generating all chunks within the world border as well, if possible.

[2016-06-28 08:04] dualspiral commented on #230
Sure.

[2016-06-28 08:12] dualspiral commented on #224
Should be fixed with the latest commit, `removeIf` didn't seem to do what I expected it to.

You can get the latest builds from https://teamcity.drnaylor.co.uk/viewType.html?buildTypeId=QuickStart_Build&branch_QuickStart=%3Cdefault%3E&tab=buildTypeStatusDiv

[2016-06-28 21:19] SnowBlitzz commented on #230
How about world trimming? Might seem far out already though XD like anything outside the world border can be deleted with a command so the server world file doesn't get too big.

[2016-06-28 21:35] Meronat commented on #230
@SnowBlitzz I'm not sure how advantageous that would be, due to chunks not generating far from the world border anyway. It helps with the transition so it does not look like an abrupt stop. Depending on the world size, the file size difference will probably be negligible. Some people may be going for that look though, so I'm not sure.

[2016-06-28 23:14] hsyyid opened #231 "NPE when using deleted kit"
[code]

[2016-06-29 08:49] #231 closed

[2016-06-29 12:54] RysingDragon commented on #224
So this is probably starting to get annoying for both you and me, It's still not working :/ http://pastebin.com/dfYQN0qM this time I also got an error with the scheduler http://pastebin.com/w6fgs6JH

[2016-06-29 13:12] dualspiral opened #232 "Fix concurrency issues with saving/loading users"
Reported by @RysingDragon

[code]

and

[code]

I need to revisit the saving code and put better locking (at least) in there.

[2016-06-29 13:15] dualspiral commented on #224
It's a different bug - I've filed it as such. #232

[2016-06-29 17:10] #232 closed

[2016-06-29 17:40] dualspiral opened #234 "Add "chatcolor" option for subjects"
From the forums:

Shouldn't be too hard to do, right?

[2016-06-29 17:56] #234 closed

[2016-06-30 02:47] Gnoxal opened #236 "Color/Style/Magic codes still work if CAPTIALS are used."
spongeforge-1.8.9-1890-4.1.0-BETA-1329
Nucleus-0.2.1

We are having issues on our server with users being able to use colors and styles in chat still even with negative permission nodes being assigned to their groups.

Apparently users can still use {color}, {magic} and {style} in chat if they use CAPITAL letters instead of lowercase. So for example; they can not use {&d} but can use {&D} to creat

[2016-06-30 04:57] WryWolfy commented on #222
The prior, so still show in /list but not send a message.  This idea is specifically in mind for larger servers to reduce the amount of junk in chat.

Sorry to reply so late - been out of town!

[2016-06-30 09:30] #236 closed

[2016-07-02 13:20] SnowBlitzz opened #237 "Disable pvp on god mode"
When players are on god mode, it's better that they shouldn't be able to hit other players.

[2016-07-02 15:37] dualspiral commented on #237
No. God mode and disabling PvP are two different things that other server owners won't want to link. For example, if a PvP game is being hosted and one of the mechanics is that the host can't get killed, so you need to run away from then, disabling PvP on God mode is not ideal.

Adding an option to disable PvP per player is doable, but I won't force a link to god mode.

[2016-07-02 15:55] SnowBlitzz commented on #237
Ah that makes sense, but shouldn't the host not be allowed to hit others as well or can that be part of the mechanics too that he should hit? Anyway an option for pvp to be disabled when god mode is on could be a thing to avoid those with the command such as admins or vips to abuse it in pvp.

[2016-07-02 20:45] dualspiral commented on #237
I gave an example. Different servers will run things differently - this plugin should not be imposing conditions that can restrict the use of a feature.

It _could_ be a thing, but it's not high on the to do list.

[2016-07-03 01:57] Gnoxal opened #238 "[Suggestion] Add disabling of throwing out items [Blacklist]"
Was just curious how difficult it may be to add a new type of blacklist/restriction to keep users from throwing out specific items from their inventory/dispensers, etc. On our server for example, we give out specific items that players need to further their time on the server. They need to be able to interact with said items, however, because they are special items that other should not obtain, we

[2016-07-03 21:30] 20zinnm opened #240 "[Suggestion] Log total playtime for users"
It'd be awesome if we could see the total playtime of users (and maybe have a scoreboard for them?). Mostly it'd be awesome to accompany the API.

[2016-07-05 11:17] dualspiral commented on #238
I don't think this is in the scope of Nucleus. While I don't think it would be hard to do with the data API, I'm not sure how essential this is to add. The blacklist module is meant to be a general catch all (that was the intention, right @hsyyid?) - I'm not keen on over complicating it.

If it seems that it's something that a lot of server owners would use, then I'm OK to revisit it - but I just

[2016-07-05 13:54] SnowBlitzz commented on #238
Griefprevention has an advanced system on item blacklist. You can disallow a specific, or all players to drop a certain item inside a claim, or all claims.

[2016-07-05 18:40] dualspiral commented on #227
I'm half and half on this. The name filter should be done, but the profanity filter... maybe. I may expose an event to change the nickname and let other plugins hook into it.

I'll do the name filter. Profanity filter, I'll think about it.

[2016-07-05 18:43] #195 closed

[2016-07-05 21:31] Gnoxal commented on #238
Sounds good guys. I completely understand!
Thanks for your time!

[2016-07-05 21:31] #238 closed

[2016-07-06 01:37] SnowBlitzz commented on #227
Hmm yeah have a chat filter hook onto it for the profanity filter? I'm currently using pwnfilter, you probably know this since it's a famous one. It uses RegEx.

[2016-07-06 05:52] SnowBlitzz opened #243 "AFK return message"
When a player is AFK and someone uses commands that call him such as /msg player, /tpa player, there should be a return message saying "player is currently AFK, blah3" better if customizable.

[2016-07-06 06:03] SnowBlitzz opened #244 "Arranging warps by category in /warp list"
Currently it's a mess, not even in alphabetical order. Just a suggestion to have it display like this (configurable of course, which warp goes into which category)

[code]

[2016-07-06 08:33] dualspiral commented on #227
So, I guess the problem is that PwnFilter wouldn't be able to handle just using the command, as you'd need to strip it of colour codes first.

Again, not sure a profanity filter belongs in Nucleus, because then I'd potentially have to apply it to everything and it might make Nucleus too bloated. Again, though, we'll see.

[2016-07-06 08:34] dualspiral commented on #244
Definitely should be alphabetical order, but the categories? Not sure about that one.

[2016-07-06 09:28] SnowBlitzz commented on #227
Yeah I understand if the profanity filter can't be done, but having it hook onto a chat filtering plugin would be nice enough.

[2016-07-06 09:32] SnowBlitzz commented on #244
Hmmm, it does make the list more organized. Just an idea anyway, /warp createcategory "Biomes Warps" 1 would make Biome Warps appear at the top like in the example above, and /warp createcategory "Spawn Warps" 2 would make it go 2nd and so on. Then /warp organize <warpname> <categoryname> would place it under the category.

[2016-07-06 09:39] SnowBlitzz commented on #220
I also heard a suggestion somewhere for powertool to make it a one-time use, or have a set number of uses depending on what's set. Probably discord

[2016-07-06 09:46] SnowBlitzz commented on #197
This seems to be gone now, magically. I'm not sure which updated fixed it, but it can be closed now.

[2016-07-06 11:06] dualspiral commented on #197
Probably Sponge, to be honest, but I guess we'll never know. Thanks for the update.

[2016-07-06 11:06] #197 closed

[2016-07-06 11:08] dualspiral commented on #220
This is straying away from what a powertool is. A powertool is a set of commands bound to an item type - what is being asked for here is commands bound to a specific _item_.

...as an aside, do we have a discord channel that I don't know about? If we do, we should publicise it.

[2016-07-06 11:09] dualspiral commented on #244
Still not sure, but one for thought.

[2016-07-06 19:07] #222 closed

[2016-07-06 19:07] #243 closed

[2016-07-06 19:08] dualspiral commented on #243
123f4f96ce51ba5b56ecb0669608ecb505a1ed93

[2016-07-06 19:11] dualspiral commented on #222
OK, this will be in 0.6, whenever I get to releasing that version. There will be a new section in `main.conf`, `afk.messages`. You will be able to make the messages blank to remove them.

[2016-07-07 15:49] SnowBlitzz opened #246 "Able to get kits by changing cases (lowercase/uppercase)"
The nucleus file of the player I tested with, he only has perms to 3 kits. http://pastebin.com/FVjYnDBW

  "kitLastUsedTime": {
    "starter": 1462490197,
    "trainer": 1467803083,
    "rookie": 1467900709,
    "pokemaniac": 1467576272,
    "TrAinEr": 1467905518,
    "traINER": 1467905528,
    "pokeMANIAC": 1467905712,
    "POKEmaniac": 1467905723,
    "poKEMAniac": 1467905748,
    "PoKeMaNiAc":

[2016-07-07 16:07] IBGnova commented on #246
The only info I really have is that if any kits have any caps in them they seem to be spamable. This issue was brought to my attention by one of our helpers, but I have change all my kits to only have lowercase since then. I'm not sure if it could also be if the perm nucleus.kits.KITNAME has caps in it as well, so I went ahead and changed all my kit perms to have all lowercase as well.

Currently

[2016-07-07 16:41] dualspiral commented on #246
Yeah, I've missed something somewhere. I should have this fixed soon - hopefully will get a look at it soon.

@IBGnova - the case of the permission node _should_ have no effect at all.

[2016-07-07 17:49] dualspiral commented on #246
Try this build, see if this fixes the issue.

[Nucleus-0.6.0-SNAPSHOT-all.zip](https://github.com/NucleusPowered/Nucleus/files/352762/Nucleus-0.6.0-SNAPSHOT-all.zip)

[2016-07-07 18:17] #171 closed

[2016-07-07 19:46] #193 closed

[2016-07-07 23:36] sibomots opened #249 "Possible issue with /home, /sethome and the Safety of movement"
What may be a usage issue for most players and admins.  If it's not an issue, it may be overcome by some explanation in the documentation.

TL;DR version:

Using latest drop of Nucleus (your build), and Last stable 1.8.9 Release of SpongeForge

* Describe how you reproduce the bug step by step

1. Login to server as admin ( by admin, I mean granted one self all the Nucleus recommended permissions

[2016-07-08 00:21] #249 closed

[2016-07-08 09:18] dualspiral commented on #249
I know you've closed this @sibomots, but I'd like to warrant this with an answer anyway.

1) Yeah, it actually bugs me that the flag is a suffix. I use Sponge's flag handling for the `-f` check, but if I put it earlier in the argument list, it interferes with the integer parser, so you end up not being able to teleport to anywhere with a negative co-ordinate. I do want to change this, and as I've

[2016-07-08 09:47] ryantheleach opened #250 ""safe teleport""
Whenever a safe teleport fails, you should have a clickable text in the error message, letting people confirm and force the teleport by clicking.

Additionally, you may want to set a configurable radius, because safe teleport on it's own isn't very useful, especially if clipping inside a ladder, trapdoor, or long grass.

[2016-07-09 09:45] #246 closed

[2016-07-09 11:33] SnowBlitzz commented on #246
Seems fine after a few tries. I'll report back if there's anything suspicious

[2016-07-09 11:35] SnowBlitzz commented on #219
The configurability can go by having a specific radius around the spawn/firstspawn they can rtp to?

[2016-07-09 11:39] dualspiral commented on #219
@SnowBlitzz Opted for centre of world border instead.

[2016-07-09 11:40] SnowBlitzz commented on #219
That works too I guess, and seems better :D

[2016-07-09 11:43] dualspiral commented on #219
For those interested, the way this works is a little covoluted. Sponge's search for a safe location can be slow, so in order to keep the server ticking, I find a random location, search a small area around it, then if Sponge can't find a safe location, I wait two ticks and try again. So, this means that there is a config option, `rtp.attempts` that sets how many attempts Nucleus will have at tryin

[2016-07-09 11:43] SnowBlitzz commented on #219
And oh I see a potential problem with this. People could randomly end up inside someone's house. While yeah, they could just warp out, but rtp seems like a command most servers would put a good amount of cooldown + cost to due to how useful it can be.

[2016-07-09 11:44] dualspiral commented on #219
Yeah, but this fires normal teleport events, so a protection plugin could cancel the teleport.

[2016-07-09 11:45] dualspiral commented on #219
(Though that's a good point about cooldowns, I best remove the cooldown if this fails!)

[2016-07-09 11:48] SnowBlitzz commented on #219
Not sure how essentialcmds does it but hmmmm interesting way of making this work.

Also a cost cancel if it fails:D

[2016-07-09 11:48] dualspiral commented on #219
That was thought of! :)

[2016-07-09 12:01] #219 closed

[2016-07-09 13:30] #157 closed

[2016-07-09 13:30] #186 closed

[2016-07-09 14:13] #227 closed

[2016-07-09 14:54] SnowBlitzz commented on #87
Hmm just checking old tickets and I see that some can already be closed - just like this one :D

[2016-07-09 18:51] dualspiral commented on #87
No it can't - it doesn't do per-player.

[2016-07-13 11:22] dualspiral commented on #230
@SnowBlitzz @Meronat I was thinking about this, and I'm not sure I'm going to do it right now, but I can see the benefit. Basically, if you reduce the world border, the world outside of the border (read, view distance) is useless to you. So - can I put that on the back burner for now, but be mindful of it? It may be a while, because I should be getting other stuff done on this when I get the time

[2016-07-13 14:05] hsyyid commented on #218
Just a note: This will have to be done using Sponge's scoreboard API.

[2016-07-15 09:27] OblivionNW opened #256 "Cooldowns not working in kits"
I tested this using nucleus 0.5 and also by building the latest version using the master branch.

0.5
When using kits they can sometimes be used multiple times by a user even if they have a cooldown.

Master branch
After several uses the user will get a message telling them there is a cooldown but if the user waits several seconds they can once again use the kit multiple times

[2016-07-15 10:37] dualspiral commented on #256
As I'm hoping to cut a release from master soon, I'm going to concentrate on that. Can I get the following from you?

* What commands were being run? Were there any change in case in the command?
* Does the user in question have the `nucleus.kit.exempt.cooldown` permission?
* What is the cooldown meant to be on the kit in question? When the cooldown does prevent the user from redeeming the kit, do

[2016-07-15 11:08] OblivionNW opened #257 "Group based chat formatting"
I used to use a similar feature in essentials, for example:
  group-formats:
     Guest: '&f{DISPLAYNAME} &b>&f {MESSAGE}'
     Manager: '&f{DISPLAYNAME} &e>>&b {MESSAGE}'
     Owner: '&f{DISPLAYNAME} &3>>&e {MESSAGE}'

The group 'Guest' would have formatting as defined in Guest: '&f{DISPLAYNAME} &b>&f {MESSAGE}' whereas the group 'Owner' would have formatting as defined in Owner: '&f{DISPLAYNAME}

[2016-07-15 11:22] OblivionNW commented on #256
**What commands were being run? Were there any change in case in the command?**
/kit grunt, no change in case
**Does the user in question have the nucleus.kit.exempt.cooldown permission?**
No
**What is the cooldown meant to be on the kit in question?**
1 Day
**When the cooldown does prevent the user from redeeming the kit, does it display the correct amount of time that they should be waiting for?

[2016-07-15 15:32] OblivionNW opened #258 "/gamemode c completes to any players name that starts with c"
When I use the command '/gamemode c' if there is a user online with a letter c at the start of their name they are then put into creative gamemode instead of the user running the command.

For example:
Users: I_Oblivion_I, FluffyDefuse online
/gamemode c causes the user that executes the command to be put into creative mode

Users: I_Oblivion_I, Court711
/gamemode c causes the user 'Court711' to b

[2016-07-15 18:25] #230 closed

[2016-07-15 19:17] dualspiral opened #259 "Add World Trimming"
From #230:

[2016-07-15 19:31] #258 closed

[2016-07-15 19:58] #199 closed

[2016-07-15 19:58] hsyyid commented on #199
Was not able to reproduce after #171 was closed.

[2016-07-15 20:02] #202 closed

[2016-07-15 20:08] hsyyid commented on #181
@dualspiral Yep, you're correct. The `id` and `level` are being serialized as `String`s, whereas they are meant to be `Integer`s. This is the cause of the issue we're seeing. I'm looking into the issue with Sponge now.

[2016-07-15 20:47] dualspiral commented on #181
Then again, isn't Minecraft moving to IDs that are strings? I don't have anything to hand, but something like "minecraft:unbreaking"? What you say is clearly correct, but in the long term, shouldn't Sponge be using those sorts of string IDs?

I'm content it's a Sponge thing though. I'm going to wait to see what solution comes out of it.

[2016-07-16 12:02] dualspiral commented on #256
That's very odd - I see no reason for this to be the case... - going to try to get to the bottom of this now.

[2016-07-16 12:27] dualspiral commented on #256
Can I see the `kits` section in `general.json` please?

[2016-07-16 13:33] dualspiral commented on #221
I see you've added the "in progress" label - which is good, I would like to see this added. Nexus hasn't seen any updates recently, and I'm concerned that the Nexus dev may have stopped developing it and I'd like to see that other server owners don't see all their work go to waste.

What's your feeling on how you want to do this? We might be better served trying to read config files directly, beca

[2016-07-16 13:45] hsyyid commented on #221
@dualspiral I was thinking the same thing of parsing the configuration files, however I am not sure if Nexus has the ability to use MySQL instead of flat files, like it's predecessor did. If it does, we may be better off going with the second option, to support all users

[2016-07-16 13:55] dualspiral commented on #221
@hsyyid

It looks like he either uses SQLite or MySQL depending on configuration - see https://github.com/CuebyteGit/Nexus/blob/master/src/main/java/me/cuebyte/nexus/customized/NexusDatabase.java#L20, in combination with config files - https://github.com/CuebyteGit/Nexus/blob/master/src/main/java/me/cuebyte/nexus/Nexus.java#L122-L127

As an aside, I didn't bother with MySQL because of the fact tha

[2016-07-16 14:09] hsyyid commented on #221
Alright, then we'll have to depend on it

[2016-07-16 14:13] dualspiral commented on #221
I was afraid that would be the way to do it, but that's how we shall do it.

I've forked Nexus to https://github.com/NucleusPowered/Nexus - so we can add Gradle etc. should we need it. We may need to jump back a version though - I think he updated for Sponge API 5 - which is fine for our 1.10.2 branch, but we need to make sure we support 1.8.9 too - our core audience is still on 1.8 as they are al

[2016-07-16 14:15] OblivionNW commented on #256
http://pastebin.com/uVVLs4g0 is the kits section (Link expires in 24hours), I also have 521 general.json<NUMBERS>.tmp files in the directory, could that be an issue?

[2016-07-16 14:15] IBGnova commented on #256
http://pastebin.com/Jhc0U6T8 Here is mine as well.

[2016-07-16 14:17] IBGnova commented on #256
Ok and I haven't read through this whole post, but for me at least it seems to only let the user use the kit more than once if he/she clicks on the kit name in chat, it doesn't seem to work if they only use the command.

[2016-07-16 14:18] dualspiral commented on #256
That's very very odd, makes me think there is actually a file writing issue - which there really shouldn't be. Nucleus shouldn't be writing files often enough for there to be a collision.

I'd remove the .tmp files though.

I better check that now, thanks.

[2016-07-16 14:18] IBGnova commented on #256
Np let me know if you find anything.

[2016-07-16 14:20] OblivionNW commented on #256
Looking into the general.json<NUMBER>.tmp files, most of them contain nothing but those that do contain only my kits section

[2016-07-16 14:24] dualspiral commented on #256
@IBGnova - a quick scan tells me that just clicking on a kit name will just run the command. If you reset the cooldown on the kit, using `/kit setcooldown` and try again for me, can you tell me if it fixes it? It seems that might be a way that solves the problem (but I cannot imagine why).

@OblivionNW - Hmmm. That means that I've got, or at least, had some file writing logic a bit messed up, but

[2016-07-16 14:28] hsyyid commented on #221
Pixelmon is very close to release for 1.10.2, but I agree we should support both. Does he not have a 1.8.9 branch?

[2016-07-16 14:30] IBGnova commented on #256
Setting the cooldown seems to fix it for a brief time, but then it breaks again for an unknown reason.

[2016-07-16 14:46] dualspiral commented on #256
@IBGnova - can you try creating a new kit, waiting two minutes or so, then checking to see if the kit is still there?

[2016-07-16 14:49] IBGnova commented on #256
I created 2 new kits last night and they are still there. (I made them due to me testing to see if making new kits would fix it, but it didin't)

[2016-07-16 14:50] IBGnova commented on #256
The kits I made last night you can see in the pastebin I sent were support and supportshiny. They used to be supporter and supporter shiny, but players for some reason were not able to see them in /kit list so I remade them and added the new perm node to their ranks.

[2016-07-16 14:53] dualspiral commented on #221
No, just master.

[2016-07-16 14:53] dualspiral commented on #221
(whoops, wrong button)

[2016-07-16 14:55] dualspiral commented on #256
Do cooldowns not work on there either?

Also, can you run `/nucleus` and tell me what commit it was built from?

[2016-07-16 14:56] IBGnova commented on #256
Nucleus version 0.6.0-SNAPSHOT(built from commit unknown)

And the cooldowns do work, but only for a short time.

[2016-07-16 14:57] IBGnova commented on #256
Well I guess the cooldowns are always there, but like I said if I player doesn't use the command, but rather clicks in-chat it will allow them to spam that kit.

[2016-07-16 14:57] IBGnova commented on #256
So a temp solution would be to disable clicking in-chat to gain kits.

[2016-07-16 15:00] dualspiral commented on #256
That's what also concerns me - I'm looking at the code, trying it myself, and I can't trigger it - it's not clear to me why this is happening.

Can I ask you to try my latest build - https://teamcity.drnaylor.co.uk/repository/download/QuickStart_DeployMaster/1862:id/Nucleus-0.6.0-SNAPSHOT-all.jar (if it asks, log in as guess user). Otherwise, I might have to come and see what's going on for myself

[2016-07-16 15:28] dualspiral commented on #256
[Nucleus-0.6.0-SNAPSHOT-all.zip](https://github.com/NucleusPowered/Nucleus/files/367341/Nucleus-0.6.0-SNAPSHOT-all.zip)

Actually, try this build. I've added a change that might actually solve your problem. It might not, but it's a stab in the dark!

[2016-07-16 16:54] hsyyid commented on #256
@dualspiral `.temp` files are generated by Configurate when you attempt to save a file rapidly multiple times. Are we updating cooldowns in the config file in real-time? If so, we'd need to stop doing that, and save periodically or via another system. I had this issue when writing my other Kits plugin (with the `.temp` files) and it was fixed for the most part by not constantly saving the config t

[2016-07-16 17:08] dualspiral commented on #256
@hsyyid No, every 5 minutes via a task, on shutdown, or `/nucleus save` only. I was very careful to not save things as soon as we used them, knowing that it would be horribly laggy.

https://github.com/NucleusPowered/Nucleus/blob/master/src/main/java/io/github/nucleuspowered/nucleus/modules/core/runnables/CoreTask.java

If the file was left open and locked, then configurate wouldn't have been able

[2016-07-16 17:18] hsyyid commented on #256
@dualspiral Ah, okay

[2016-07-16 18:38] OblivionNW commented on #256
I believe this issue is resolved prior to commit 48da0f but requires you to re set all your kit cool-downs for the issue to be fixed, everything seems to be good on my server after running for a few hours

[2016-07-16 18:57] dualspiral commented on #256
Thank you for the update.

[2016-07-16 23:19] dualspiral commented on #257
Fixed in #260

[2016-07-16 23:19] #257 closed

[2016-07-17 10:35] OblivionNW opened #261 "Join full server"
A feature allowing certain users to join a server even if it is full

[2016-07-17 10:48] OblivionNW opened #262 "Additions to punishments"
There are a few features in Essentials and Ban Management I believe would be useful in Nucleus.

1. Allow for a maximum mute time to be defined in the configuration, if a user attempts to mute a user for longer than this time and doesn't have the bypass permission they are denied.

2. Add separate permissions for jailing, banning and temporarily banning users that are currently offline.

3. Add a

[2016-07-17 10:56] dualspiral commented on #262
I like the suggestions, I was considering whether or not to add something like this, or whether it'd be too niche. However, actually, I think they are useful in all server scenarios, so, yes, I think they have a place in Nucleus.

The only one I question is 2 - what is the value for having separate permissions for those who are offline? I've never understood it, I'd be interested in your point of

[2016-07-17 11:05] OblivionNW commented on #262
Well on my server I have several staff ranks. Helper, ChatMod, Moderator, JrAdmin and SrAdmin. I find it better for lower ranking staff members to only be able to ban online players incase one of them goes rogue, that way the damage isn't as severe.

[2016-07-17 11:09] dualspiral commented on #262
That's fair enough. Was just interested in the use case!

[2016-07-17 16:38] OblivionNW commented on #256
I'm going to close the issue as I believe it's fixed

[2016-07-17 16:38] #256 closed

[2016-07-17 16:40] OblivionNW commented on #262
I might be able to do this and #261

[2016-07-19 01:31] RysingDragon commented on #240
I was originally going to write a new issue but I thought it would have been too similar to this. Along with total playtime could there also be an option to see daily, weekly, and monthly playtime. It would be similar to bukkit's [OnTime](http://dev.bukkit.org/bukkit-plugins/ontime/) plugin.

[2016-07-19 14:40] SnowBlitzz opened #264 "Going out of world border with /god, /back, and /fly"
WHen you have god mode you don't take damage, including damage when outside of world border (which I think should be configurable to take damage if its world border damage)

With that stated above, players are able to stand near world border, tp somewhere, then do /back to try to get out of the border. That was the only thing tested so far but I think setting home near border then /home-ing would

[2016-07-19 20:57] Nentify opened #265 "Allow commands to be used on nicks"
eg. /msg <nick> <message>, /tp <nick>

[2016-07-19 21:29] dualspiral commented on #264
Should do this at the same time as #250 as most of the issues you're seeing are related to the safe teleport.

I may report this/put a PR in to Sponge too, as it means their implementation of checking for safe locations is checking beyond the world border, which could potentially harm a player that gets warped in there.

[2016-07-19 21:35] dualspiral commented on #265
Yep, now I've done `/realname`, this should be (hopefully) trivial to do.

What I may do is add a `p:player` arguement to force the plugin to only look through minecraft account names - just to avoid accidently getting the wrong person.

[2016-07-20 00:01] KarpRebellion opened #266 "a config option to disable safe tp"
I'd love an option in the config to disable the safe tp requirement so people wouldn't have to type -f everytime they they to someone who's flying.

[2016-07-20 08:00] dualspiral commented on #266
I feel like this should be a player preference, rather than globally defined in configuration.

[2016-07-20 12:52] hsyyid commented on #266
@dualspiral How about have an option for the player to toggle it as well as server admins have the option to globally disable it?

[2016-07-20 13:06] dualspiral commented on #266
Select a default, yes. Disable it, no, unless there is a convincing case to
have that option. Players should never feel that a tp can send them to
their death unless they let it happen.

The other option is if they are able to fly (permissions or if just
flying), then we just warp them without the safety net (if the target block
is air) and make sure they are flying after.

On Wed, 20 Jul 2016 at

[2016-07-20 20:11] dualspiral commented on #187
https://github.com/NucleusPowered/Nucleus/commit/b587332b9aeca122c701dda9b208e84e112b4e09

[2016-07-20 20:11] #187 closed

[2016-07-20 23:52] 5tingr4y opened #268 "Coloring player names with prefixes"
So I wanna color player names depending on their permission group. What i've previously done with Essentials was simply adding the color code at the end of the prefix.
So a prefix like "[&4Operator&f]&9" would make the "Operator" dark red and the player name blue.
In Nucleus, this doesn't seem to work. When I added that prefix (using PermissionsEx), "Operator" was dark red as expected, but my play

[2016-07-21 10:46] SnowBlitzz commented on #244
Got some suggestions from our players:

/warp list Section Separator

"This is an idea I had cause I get so many questions asking where is blank in /warp list.So I though this would make it easier for some people." -Patapon266

♫♪♫♪♫Shops♫♪♫♪♫
BuildersMart
PokeMart
SnackBar

♫♪♫♪♫BiomeWarps♫♪♫♪♫
Desert
Forest
Hills
IcePlains
Jungle
Ocean
Plains
Swamp
Taiga

"I actually like this idea, perhaps when

[2016-07-21 10:49] SnowBlitzz commented on #268
You can do this with /pex group Operator options namecolor blue

[2016-07-21 16:26] dualspiral commented on #268
Echoing what @SnowBlitzz said, yes, you can colour the player's name colour using the permission option `namecolor`, which is more consistent across the entire plugin. You can also use colour codes in the permission, so `/pex group Operator options namecolor 9` will also work.

See http://nucleuspowered.org/docs/modules/chat.html

[2016-07-21 17:44] dualspiral commented on #244
@SnowBlitzz

While I really do appreciate the suggestions, you could have left it at that. I'm a little annoyed by your inclusion of your player's comments as you have. They feel passive aggressive and somewhat rude to be honest, and you must remember that this is an open source project where I have found myself with limited time of late, and I need to prioritise what is done.

I've never discount

[2016-07-21 19:53] dualspiral commented on #244
Just thinking about this, rather than have them all in a categorised list, it'd be neater, if some configuration option is enabled, to make `/warp list` list the categories, then have it just link to the categories, rather than having it cluttered with all the warps with the headings.

I'm out at the moment so doing this on my phone, but I'll try to mock up my thoughts later.

[2016-07-21 21:18] SnowBlitzz commented on #244
@dualspiral I'm terribly sorry. I really never meant it to be annoying or passive aggresive in any way. I just thought those comments would somehow convince you it's a nice idea. Again, I never meant it the way you thought it to be, I'm sorry.

Thanks for considering the idea anyway.

[2016-07-21 22:15] 5tingr4y commented on #268
Ahh okay that worked. Well if that is the intended use, then I guess I'll use that from now on ^^

Thanks a lot guys.

[2016-07-21 22:45] dualspiral commented on #244
Don't worry about it, water under the bridge and all that!

I'm actually now up for the idea after talking to a friend of mine anyway, I just want to do it right once I've got other stuff down...

[2016-07-22 01:32] seanamor opened #269 "Sethome Home"
21.07 21:30:31 [Server] Server thread/INFO SpongeForge
21.07 21:30:31 [Server] INFO Minecraft: 1.8.9
21.07 21:30:31 [Server] INFO SpongeAPI: 4.2.0-SNAPSHOT-bd51b3a
21.07 21:30:31 [Server] INFO SpongeForge: 1.8.9-1890-4.2.0-BETA-1509
21.07 21:30:31 [Server] INFO Minecraft Forge: 11.15.1.1902

/home
/sethome
/homes

None are working, an error occurred trying to perform this action.

[2016-07-22 07:33] dualspiral commented on #269
Your Forge version (1902) does not match the version Sponge needs (1890).
Downgrade Forge and try again.
On Fri, 22 Jul 2016 at 02:32, seanamor <notifications@github.com> wrote:

[2016-07-22 08:56] dualspiral commented on #268
No problem. I looked into why that didn't happen on a technical level, and if we wanted to do as you suggest would be a lot of effort for what really is an inferior solution. So, `namecolor` is the way to go.

[2016-07-22 08:56] #268 closed

[2016-07-22 16:30] OblivionNW commented on #269
I can also confirm - I had this issue since i updated my servers build of Nucleus to 6.0.0 but I also have the same issue with warps

[2016-07-23 00:35] SnowBlitzz commented on #269
Actually I'm also using forge 1902 and it's working fine. I was told by the devs the forge version can be greater than or equal to the recommended.

[2016-07-23 03:28] seanamor commented on #269
SnowBlitzz can you confirm your version of sponge/nucleus? I would love to get this working again, I once had it working. Also possibly a list of plugins/mods you have running?

[2016-07-23 04:19] SnowBlitzz commented on #269
I'm using SF 1584 which is the latest. Maybe that's your issue? My forge is 1902 and Nucleus is 0.6

[2016-07-23 08:12] dualspiral commented on #269
From the forums:

[code]

Bet he's got a "null" home that is breaking the code.

[2016-07-23 08:30] dualspiral commented on #269
[Nucleus-0.6.1-SNAPSHOT.zip](https://github.com/NucleusPowered/Nucleus/files/379453/Nucleus-0.6.1-SNAPSHOT.zip)

@seanamor try this build. If I'm right, you'll get a message in the console telling you a home is invalid and has been discarded, it'll delete the problematic homes and let you continue.

Backup the `/nucleus` folder first!

[2016-07-23 14:35] #265 closed

[2016-07-23 14:45] dualspiral commented on #264
Just been testing this on my local server - I can't get out of the border using /jump or any other commands, so I think it's the Sponge implementation of the safe teleport.

[2016-07-23 15:30] SnowBlitzz commented on #264
You have the safe teleport off? I believe it is on by default(?)

[2016-07-23 15:39] dualspiral commented on #264
No, I have it on, I just don't seem to be able to trigger it.

[2016-07-23 15:40] SnowBlitzz commented on #264
Oh, the player tried it with /god - he can only do it in god mode.

[2016-07-23 16:42] seanamor commented on #269
Wow thanks! I will check this out now!
I will let you know the status shortly.

[2016-07-23 16:52] seanamor commented on #269
Still shooting these errors if you dont delete all the nucleus folders, but thats alright I backed up my general.json and just replaced it after it created a new folder upon reload.

So... Closed? Thanks a lot for all your help and prompt responses!

[2016-07-23 18:25] #269 closed

[2016-07-24 15:52] #182 closed

[2016-07-24 18:40] dualspiral opened #271 "Add /firework"
Noticed someone was requesting it on the EssCmds thread, it was originally in Essentials, some people liked it.

[2016-07-25 12:29] OblivionNW opened #272 "World Border updates"
I used to use the plugin WorldBorder in bukkit and it used to give regular updates in console as to how the pregeneration task was going, I found this helpful as I would be able to estimate how long until it is done. The message used to be something like, X chunks generated (Total: X chunks) X%

[2016-07-25 12:51] dualspiral commented on #272
It _does_ give regular messages in the console though - I made sure of it when I wrote and tested it. I'll check it again tonight, but I'm sure it's fine. What it doesn't do is print it out to the user in game, something I thought about, and decided to not bother doing.

We use Sponge's world pregeneration, which accepts a logger. It was spitting out stuff every couple of ticks, so I wrote somethi

[2016-07-25 13:36] OblivionNW commented on #272
Weird, I started a pregeneration task and it was giving me nothing

[2016-07-25 21:19] OblivionNW opened #273 "AFK Exempt"
When a user (With default permission 1) uses the AFK command they are told they are exempt from doing so.

[2016-07-25 22:43] dualspiral commented on #273
That's correct. Remove or negate the `nucleus.afk.exempt.toggle` permission, this is intended behaviour.

http://nucleuspowered.org/docs/modules/afk.html

[2016-07-25 22:43] #273 closed

[2016-07-26 04:08] bloodmc commented on #264
@dualspiral OK I'll take a look at this soon. Feel free to PR a fix if you find one sooner.

[2016-07-27 22:45] Eufranio commented on #31
News?

[2016-07-27 22:59] hsyyid commented on #31
@Eufranio  Erm, we're waiting on implementation. There has to be one.

[2016-07-27 23:07] 20zinnm commented on #31
Not necessarily... we could write the whole thing and just never register the command.

[2016-07-27 23:14] hsyyid commented on #31
@20zinnm And what use does that have? For all we know, Sponge could change the API while doing implementation.

[2016-07-27 23:52] 20zinnm commented on #31
@hsyyid But Nucleus is supporting one Sponge version... so we'd just change it to support the new version. Regardless, Mumfrey spent a lot of time designing this system and it's well thought out, so I doubt they'd change it.

[2016-07-28 07:09] hammikb commented on #272
OblivionNW If you have the enjin plugin installed that blocks the command from saying anything in console

[2016-07-28 07:13] hammikb opened #274 "Make /spawn and respawning optionally send players to a main spawn, not the current world spawn."
I didn't know but is their any way you can make a config so when people do /spawn it takes them to the overworld spawn not the world spawn. I know their is /firstspawn, but i would rather not have a bunch of people ask how to get back to spawn when they are in another dimension

[2016-07-28 07:23] dualspiral commented on #272
Why on earth would the Enjin plugin be doing that? If that really is the case, then I expect a ticket should be filed with them...

[2016-07-28 07:29] dualspiral commented on #31
@20zinnm We're actually supporting two versions, there is the sponge-api/5 branch that I'm periodically pulling up to date with master, as 1.10.x gains traction.

I do take @hsyyid's stance on this one, at least for the moment, because while Mumfrey _has_ done a very good job of the design of the system, there may still be unforeseen changes. That being said, you are more than welcome to create th

[2016-07-28 07:30] dualspiral commented on #274
It would make sense, yep.

[2016-07-28 09:56] dualspiral opened #275 "Generate commands.conf entries for subcommands"
`Commands.conf` currently only has entries for root commands, not sub commands. Need to add sub commands to this too.

[2016-07-28 20:33] hammikb commented on #272
dualspiral i know it seems weird. Me and my friend thought so too. Like why would enjin edit block console commands. Last time me and my friend checked it did

[2016-07-29 14:21] Flashback083 opened #277 "Add /world regen"
Hello !
First thanks for your plugin i love it !
Can it possible to add the /world regen command ?
The exact command can be :
/world regen [name of world] [generator] [seed]
For the seed its can be cool if :
Player dont put seed, also the regen world is the same seed that before
If player write specific seed the world regen with this new seed !

The permission can be ; nucleus.world.regen.base

I

[2016-07-29 14:23] Flashback083 opened #278 "Add /world unload"
Hi again ! I dont see the /world unload [world] in the doc of plugin so i ask you if its possible to add it, to disable world and /world load [world] to load again

Thanks for all,
Flashback

[2016-07-29 14:50] hsyyid commented on #278
I'll do this one, although I'm pretty sure it's already there

[2016-07-29 14:51] Flashback083 commented on #278
https://gyazo.com/bf404f7ba4ea134078cded1e458ae587
^^
Or its disable ?
thanks for the anwser !

[2016-07-29 14:56] dualspiral commented on #278
Unloading is not in there.

[2016-07-29 17:58] dualspiral commented on #272
If you can confirm that removing the Enjin plugin resolves this, then please let them know they shouldn't be interfering with server logs.

[2016-07-30 00:28] hammikb commented on #272
I created two different servers one with the EMPSponge.jar plugin aka Enjin plugin
[https://gyazo.com/168cd41e764a464c21177ec0208b02ca](url)

Then i started them both up with sponge on 5.0.0-BETA-1626
[https://gyazo.com/22a8fe0ebd25575bacf177950580c24c](url)

If you read the console you can see the one on the left has enjin plugin installed
[https://gyazo.com/98d19fadf9bf6273ca1b749526dca25d](url)

[2016-07-30 03:26] 12AwsomeMan34 commented on #272
@dualspiral I've traced the issue around a bit and eventually stumbled upon this method in the Enjin jar:

![enjin](http://i.imgur.com/FVtJMdP.png)

The highlighted line ends up completely removes all plugin logging and sponge logging, leaving only FML (if SpongeForge) and the vanilla server's logging.

The reason for this, is that calling `logger.getAppenders()` gets **all** loggers for the loggi

[2016-07-30 05:15] hammikb commented on #272
12AwsomeMan34 Nice job finding this just saying though we knew this wasn't a nucleus issue the it all goes threw sponge. Considering this is Sponge's Chunkloader, nucleus is just using a command to activate it

[2016-07-30 05:26] 12AwsomeMan34 commented on #272
Well Nucleus is using a custom logger [here](https://github.com/NucleusPowered/Nucleus/blob/master/src/main/java/io/github/nucleuspowered/nucleus/modules/world/WorldHelper.java#L62). It's just that the messages get suppressed, because...well enjin.
Minor points aside, the issue has been reported to Enjin so this issue can be closed.

[2016-07-30 06:08] hammikb commented on #272
ok nice job

[2016-07-30 11:47] OblivionNW commented on #272
Closed

[2016-07-30 11:47] #272 closed

[2016-07-30 11:52] dualspiral commented on #272
Thanks @12AwsomeMan34 - I had noticed that method too, but hadn't gotten around to finding how to report it.

[2016-07-30 14:32] #275 closed

[2016-07-31 00:33] Wundero commented on #181
Could you not, as a temporary solution at least, just parse the string as an integer? You know what value type to expect and could simply work around the serializer for now.

[2016-07-31 00:39] i9hdkill opened #280 "Error when enabling Nucleus 0.6.0 on SpongeForge 1.10.2"
Getting this error when enabling Nucleus:
http://pastebin.com/EUF2ygtM

sponge version
[02:38:26] [Server thread/INFO]: SpongeForge
    Minecraft: 1.10.2
    SpongeAPI: 5.0.0-SNAPSHOT-a13a8d6
    SpongeForge: 1.10.2-2026-5.0.0-BETA-1632
    Minecraft Forge: 12.18.1.2020

[2016-07-31 12:06] dualspiral commented on #280
I assume that some plugins and/or mods were removed before this happened?

It's a problem with the kits I think. I need to make a change to how that works.

[2016-07-31 16:13] #181 closed

[2016-07-31 17:59] #274 closed

[2016-07-31 19:44] 5igm opened #282 "What is the meaning of this option in the config file?"
What is the meaning of this option in the config file?
teleport {
    # If true, by default, a target player will not be informed that they have been /teleport ed to. Override using "-q false"
I am confused to "that they have been /teleport ed to. Override using ‘-q false’".

[2016-07-31 19:59] 5igm opened #283 "A suggestion related to blacklist fuction"
Now, when admins try to ban some items in server, they have to fiure out the name of items. Actually, there are many ways avaliable to check out the vanilla item's name. However, if the server is installed some mods, it will be very hard to find out the real name of items in a mod. Therefore I suggest to add a function that the plugin will ban the item holded by command sender automatically.

[2016-07-31 21:04] 5igm opened #284 "Serious bug! Related to keep inventory after die."
Nucleus had stopped players losing their items after they died.
I had uninstalled all of mods and plugins and installed all of them back again to check out which one caused the problem. It showed nucleus caused it.
There is a vedio which can show more details of this problem.
https://youtu.be/AR0rKEiKa7I

[2016-07-31 21:51] dualspiral commented on #284
Nucleus doesn't touch the inventory on death. I also notice that you _are_ using a mod, I can see that you have something the removes some of the health.

I can verify that this is not a nucleus problem.

[2016-07-31 21:51] #284 closed

[2016-07-31 21:53] dualspiral commented on #282
GitHub is not a place to ask for help, please use the forums in future, but I will answer your question this once on here.

If you set this to "false", then if you /tp to someone, it will tell them.

[2016-07-31 21:53] #282 closed

[2016-07-31 23:24] i9hdkill commented on #280
Yes. we updated from 1.8.9 to 1.10 and some ids changed.
Thanks for the kits hint!

[2016-08-01 10:17] 5igm opened #285 "Inventory is not cleared on /suicide and /kill"
The problem is as same as the problem I issued yesterday.
https://github.com/NucleusPowered/Nucleus/issues/284#issuecomment-236458926

This time, I had deleted all of the irrelated mods and plugins from mods folder according to your suggestion. I also had deleted the old Necleus config folder, Nucleus folder, and world folder. However, although I had excluded all of the interference factors, the s

[2016-08-01 10:33] 5igm commented on #285
I just test more details for "keepinventory". I found if players are killed by other entity like zombie, players will lose all of his/her stuffs. However, if players are kill by commands like "suicide" and "kill", their stuffs will be saved in inventory. I think it is the part done by Nucleus.

[2016-08-01 11:27] dualspiral commented on #285
Two things - I didn't realise you were on 1.10, because it works on 1.8, and this may point to a Sponge issue, rather than a Nucleus one. Please, when reporting issues, put all the version information you have in the text.

I'll investigate when I get chance.

[2016-08-01 14:23] 5igm commented on #285
Sponge version:spongeforge-1.10.2-2026-5.0.0-BETA-1599
Forge version:forge-1.10.2-12.18.1.2026-universal
Nucleus version:Nucleus-0.6.0-S5.0-MC-1.10

[2016-08-02 04:30] jsnbrown1989 opened #286 "Cost not be deducted on successful command usage."
Latest release 0.6.0.

I am speaking directly concerning the /repair command although I would assume others are like it. I have cost set to 200 with no cooldown or warmup and when players use the command, the currency is not deducted.

Currency plugin is EconomyLite and I also am using the Pixelmon Eco bridge as well if that is relevant.

[2016-08-02 04:31] ghost opened #287 "Suggestion - /Smelt"
Would it be possible for a /smelt command which will automagically smelt the ores in your inventory. It would be preferable to look for any coal or etc and use up the coal but it would be nice either way.

[2016-08-02 06:48] dualspiral commented on #286
Sponge/Minecraft version?

[2016-08-02 17:39] jsnbrown1989 commented on #286
1.8.9 Minecraft
spongeforge-1.8.9-1890-4.2.0-BETA-1625 Sponge

[2016-08-02 22:03] dualspiral commented on #286
OK, thanks. Will look into it.

[2016-08-04 12:02] Nentify opened #289 "Change colour of chat message"
In Essentials you have full control over the layout/format of the chat, it seems Nucleus only lets you set a prefix and a suffix. If you're sticking with this pattern, would it be possible to have an extra option to colour the chat too?

[2016-08-04 12:05] dualspiral commented on #289
There is the `chatcolor` option that does this already.
On Thu, 4 Aug 2016 at 13:02, Luke <notifications@github.com> wrote:

[2016-08-04 12:10] dualspiral commented on #289
For reference: http://nucleuspowered.org/docs/modules/chat.html

[2016-08-04 12:17] Nentify commented on #289
Oh I see, this works well I suppose. What about if someone doesn't use a permission plugin, perhaps a fallback option in the config could be useful?

If not, I think that option is good enough for most use cases. The namecolour would also be very handle, saves having to use up the prefix!

[2016-08-04 20:30] dualspiral commented on #289
Yeah, I've been thinking about that. I'll consider a way to have such a fallback, thanks for the suggestion!

The reason we have namecolour/chatcolour is due to the way Sponge does text, it's simply easier to do that, and it means we can colour the name where the prefix _isn't_ shown. I hope that it becomes more flexible over time.

[2016-08-04 20:56] Nentify commented on #175
Would also be nice to have a cost associated with the warp.

In Essentials you can do:

``
[Warp]
warp_name
cost
permission_group
[code]

[2016-08-04 21:44] #261 closed

[2016-08-04 21:44] #262 closed

[2016-08-06 17:09] dualspiral commented on #286
3cb8b0d5b90b35f04bd23512e3ba3a23d4af1051

[2016-08-06 17:09] #286 closed

[2016-08-06 18:50] SnowBlitzz commented on #264
Is there's a way to allow a certain type of damage when in godmode? or make it configurable what forms of damage /god will include? The world border damage can be enabled for example and the rest disabled so everybody dies outside of world border.

[2016-08-07 03:23] SnowBlitzz opened #290 "AFK listener optimizations?"
Nucleus::AFKListenercount(14512) total(3.95% 0.371s, 13.76% of tick)  avg(0.03ms per - 6.88ms/268.74 per tick)

It's getting quite high with more amounts of players. Doesn't really seem much compared to the others but its on the top 10's sometimes. I completely understand if it can't be optimized any further.

[2016-08-07 08:08] dualspiral commented on #290
It's probably due to the creation of the scheduler for each event, and there will be a lot of them. I think I have an idea as to what to do.

[2016-08-07 10:52] #290 closed

[2016-08-08 20:27] dualspiral opened #291 "Add /sell and /setworth (and possibly /buy)"
I don't want to have a huge database of item names and default costs, but some servers like this functionallity.

May be worth having an "items.conf" in the config folder.

[2016-08-08 20:36] dualspiral commented on #291
### Spec for `items.conf`

The key will be the item ID. This will allow us to load the file without failing if Sponge doesn't find the item. We add "aliases" as a set of string aliases, and "price.buy" and "price.sell" as integers. If the integer is negative or non-existent, we don't allow it to be bought or sold.

(May not be valid HOCON, but you get the point)

[code]

[2016-08-09 10:56] 5igm opened #292 "There are some sentences you didn't put into messages.conf"
When my mouse is hovering on the buttoms, "/mail" and "/mail clear", they shows
1. click here to read your mail.
2.click here to delete your mail.
Both of them are not in messages.conf.
Game modes are not in the file as well.

[2016-08-09 18:39] 5igm opened #293 "Unable to get subject's groups when using Permission Manager"
Nucleus-0.6.0-S4-MC-1.8
spongeforge-1.8.9-1890-4.2.0-BETA-1653
forge-1.8.9-11.15.1.1902-1.8.9-universal

`[01:45:45] [Server thread/ERROR] [Sponge/]: Could not pass ServerChatEvent to org.spongepowered.mod.plugin.SpongeModPluginContainer@28a56b58 java.lang.NullPointerException at io.github.nucleuspowered.nucleus.modules.chat.config.ChatConfig.getTemplate(ChatConfig.java:37) ~[ChatConfig.class:0.6.

[2016-08-09 18:46] dualspiral commented on #293
Can you give me a copy of your chat section of main.conf too please?

On Tue, 9 Aug 2016 at 19:39, 5igm <notifications@github.com> wrote:

[2016-08-09 18:50] dualspiral commented on #293
Wait, update to 0.7 first, I see you're on 0.6

On Tue, 9 Aug 2016 at 19:46 Daniel Naylor <daniel@drnaylor.co.uk> wrote:

[2016-08-09 19:11] 5igm commented on #293
Could replace the old one by lastest one directly? Or I need to edit all of the files again?

[2016-08-09 19:15] dualspiral commented on #293
Just replace it

On Tue, 9 Aug 2016 at 20:11 5igm <notifications@github.com> wrote:

[2016-08-09 20:01] 5igm commented on #293
@dualspiral The error still appears when I am talking. It appeared after I installed "Permission Manager".

[2016-08-09 20:09] Bammerbom commented on #292
I can confirm, they are hardcoded here.

https://github.com/NucleusPowered/Nucleus/blob/4bb5f718f5df4034856b71110abc5abc4b5a75f3/src/main/java/io/github/nucleuspowered/nucleus/modules/mail/listeners/MailListener.java#L34

[2016-08-09 20:10] 5igm commented on #293
chat {
    # Group templates override the default chat template based on the users group. Note that the group name is case sensitive.
    group-templates {
        DefaultTemplate {
            # Sets the prefix to a message. {{prefix}} - prefix (set as an option in a permission plugin), {{suffix}} - suffix (set as an option in a permission plugin), {{name}} - real name, {{displayname}} - display

[2016-08-09 20:11] 5igm commented on #293
I think I didn't modify chat section.

[2016-08-10 05:39] 5igm commented on #293
This is another error feedback.

[13:37:40] [pool-2-thread-6/INFO] [STDERR/sponge]: [io.github.nucleuspowered.nucleus.internal.command.AbstractCommand:startExecute:428]: 	at io.github.nucleuspowered.nucleus.modules.playerinfo.commands.ListPlayerCommand.getPlayerSubjects(ListPlayerCommand.java:129)
[13:37:40] [pool-2-thread-6/INFO] [STDERR/sponge]: [io.github.nucleuspowered.nucleus.internal.command

[2016-08-10 06:02] 5igm opened #294 "Could you add some permissions such as setting home by bed?"
I think Nucleus is a basic plugin. It may charge more responsibility  related to vanilla minecraft. I suggest to add some basic permissions like setting home by bed, whether player can chat in game, whether player can move in game, etc.

[2016-08-10 08:47] dualspiral commented on #293
Same error as before.

What permissions plugin are you using?

[2016-08-10 09:15] dualspiral commented on #293
Wait, sorry, I see it, missed the comment.

We need to guard against this, but I think Permission Manager also doesn't quite support groups as we would need to use them. I'll get it compatible with it.

[2016-08-11 04:58] kinggoesgaming commented on #291
What about variants?

[2016-08-11 07:50] dualspiral commented on #291
What do you mean by "variants"?
On Thu, 11 Aug 2016 at 05:58, Hunar Roop Kahlon <notifications@github.com>
wrote:

[2016-08-11 15:53] kinggoesgaming commented on #291
For example minecraft:stone has stone,diorite,granite etc

[2016-08-11 17:37] dualspiral commented on #291
Oh! Glad you mentioned it, didn't think about that. Just means I need to keep the blockstate too.

Thanks!

[2016-08-11 23:18] SnowBlitzz opened #295 "anonymous broadcasting"
I'd like to suggest a feature for anonymous broadcasting. The normal broadcast would have a prefix and suffix (if set correctly in the config) but this is for general use so players know it's an announcement. Anonymous broadcasting will be the same, except it won't have any prefix or suffix so it's just like a line of text when you do `/abroadcast Hi` or `/abc Hi`

[2016-08-11 23:43] dualspiral commented on #295
Use case? Why would this be useful?

[2016-08-12 02:22] GershonR commented on #295
If you have a large server and you broadcast something, the players will see your name and will start to bug you, but if it just says [Broadcast] msg, they won't know who wrote it

[2016-08-12 07:28] dualspiral commented on #295
That's how the broadcast command is set up by default, it's set up to be anonymous. Using the command `/bc blah` defaults to "[Broadcast] blah" without a name. I'm asking that if you want to setup the `/bc` command to include a name (which is perfectly possible using config), what is the use of having an anonymous broadcast?

[2016-08-12 11:33] SnowBlitzz commented on #295
There's actually no particular use for this, but what I've been using it for before was to say something anonymously - like through a fake player. I'd put `/abc &7[Member]Good_Game1: &rYou can buy it from /warp store` and it would show it as if a player named Good_Game1 said it since there was no broadcast prefix or suffix. This would allow me - if I'm the only staff on and do not want people to f

[2016-08-13 20:53] 5igm opened #296 "Suggestion: chat range"
Now, when I say something in the server, whole server can hear it. I suggest to add an option of chat range which means how far you can hear the message from another player.

[2016-08-13 21:06] Nentify opened #297 "[1.10.2] /world create <name> <dim-type> <generator> not working"
Using Nucleus 0.7

Error:

![](http://i.nentify.me/ZiiS9qEW.png)

[2016-08-13 21:16] Nentify commented on #297
1.10 requires `minecraft:overworld`

[2016-08-13 23:36] dualspiral commented on #297
I'm going to reopen this so I remember to use https://github.com/NucleusPowered/Nucleus/blob/master/src/main/java/io/github/nucleuspowered/nucleus/argumentparsers/ImprovedCatalogTypeArgument.java to allow you to use just `overworld` again...

[2016-08-14 07:26] 5igm opened #298 "Cannot get users from Nickname Arguments when offline players should also be selectable"
Nucleus-0.7.0-S4-1.8.9-plugin.jar
spongeforge-1.8.9-1890-4.2.0-BETA-1653
forge-1.8.9-11.15.1.1902-1.8.9-universal
[code]

[2016-08-14 14:18] dualspiral commented on #298
I need more of an explanation as to what you were doing. It's clear you were using the "send" command, but I need the following.

* What command did you use?
* Who were you trying to send the mail to?
* Were they online?

[2016-08-14 14:43] dualspiral commented on #295
In other words, something that you could get a timer or commandblock or something to issue, and just be able to write text into the server chat exactly as you write it?

[2016-08-14 16:03] dualspiral commented on #297
So, this is interesting. You didn't tell me was that you were using SpongeForge - which actually turns out to be important here! This behaviour only occurs on SF, while SV actually has the exact _opposite_ behaviour (`overworld` works, `minecraft:overworld` does not).

I'm going to file an issue with Sponge about this.

[2016-08-14 16:09] Nentify commented on #297
Oh, sorry, I should have mentioned that. That is certainly interesting though.

[2016-08-14 16:10] dualspiral commented on #297
I think it's an SV issue, because I also get an error on startup when using SV 1.10.

I wouldn't expect the flavour to be important, but it is still in development, so anything could happen, I guess!

[2016-08-14 16:36] 5igm commented on #298
I tried to use this "/mail send DeitySSS 111" to test mail system.
DeitySSS is my own name. This command is successfully executed in Nucleus-0.6.0-S4, but it failed in 0.7.
I was online at that time.

[2016-08-14 17:11] dualspiral opened #299 "0.7.1 tracking."
Will be doing a hotfix release for 0.7.1. This issue will hold builds and other notes that I need to make before releasing it.

[2016-08-14 17:12] dualspiral commented on #299
[Nucleus-RC1.zip](https://github.com/NucleusPowered/Nucleus/files/417135/Nucleus-RC1.zip)

First RC for Nucleus.

[2016-08-14 17:16] dualspiral commented on #298
Try the build I've added to #299 - see if that works better for you. I can't reproduce this myself, but I think I have an idea as to what is going on.

[2016-08-14 17:29] 5igm commented on #298
@dualspiral Actually, "/mail send" always shows it cannot found the player in Nucleus 0.7

[2016-08-14 19:46] #297 closed

[2016-08-14 19:46] dualspiral commented on #297
https://github.com/NucleusPowered/Nucleus/commit/26a034d257edbc2d624b3e58288688ba87d9d5ed

[2016-08-15 08:38] SnowBlitzz commented on #295
Sorry for the late reply, yeah something like that.

[2016-08-15 11:52] SnowBlitzz opened #300 "List of issues with staff commands"
Uhh so these were reported by our staff, I'm quite busy irl so got no time to confirm or provide additional info. Hope these helps though.

- [x] Using the /v command asks for extra parameters. Using them doesnt work though:
https://gyazo.com/524ace9aedb74e0a74e6c17abdeb9529

- [x] Using tempban doesnt always ban a player. Sometimes it says the player has been banned, however theyre not and even c

[2016-08-15 12:03] dualspiral commented on #300
For the list homes one, I really need stack traces from debug mode, I'm still unable to reproduce it, anything you can provide on that would be helpful.

[2016-08-15 12:37] 5igm commented on #299
Could you add a option of chat range in newer version like 0.8.0?

[2016-08-15 12:46] 5igm commented on #299
The problem is still existing.
Nucleus-S4-0.7.1-1.8.x-SNAPSHOT-all
spongeforge-1.8.9-1890-4.2.0-BETA-1666
[code]

[2016-08-15 15:48] FiveEYZ commented on #219
wanna request some more "features" to /rtp

is it possible to add some checks to the rtp?
a player well always spawn with clear view to the sky? this will prevent them getting rtp inside a cave

and a block black/whitelist, so a player can only spawn on `blockGrass` or never spawn in water, same as above but will also prevent the player from getting rtp to the bottom of a deep ocean/lava lake

[2016-08-15 16:53] Eufranio commented on #296
Or create chat channels, one local and one global.

[2016-08-15 16:55] 5igm opened #301 "If it is hard to add chat range, could you add a option to disable the chat function of nucleus?"
If it is hard to add chat range, could you add a option to disable the chat function of nucleus?

[2016-08-15 17:29] dualspiral commented on #301
Disable the chat module or set `chat.modifychat` to false, and Nucleus will stop handling chat.

[2016-08-15 17:29] #301 closed

[2016-08-15 18:08] dualspiral commented on #298
Did you just try it with yourself? I bet (probably due to a Sponge bug), that if the player's name is all lowercase, it will work, like mine, which is why I didn't see it.

[2016-08-15 18:22] dualspiral commented on #300
* https://github.com/NucleusPowered/Nucleus/commit/ee5432adbf3cef91b0a14f70839cb85fb07db074
* https://github.com/NucleusPowered/Nucleus/commit/fbba60d7f8f6dcc1643ce2fc9dea94ac1179bf40
* #298
* https://github.com/NucleusPowered/Nucleus/commit/7468638d0aa8f141df0c989ba3bfbbe2f03462fc

[2016-08-15 18:22] #300 closed

[2016-08-15 19:41] 5igm commented on #298
@dualspiral I have try to make my name being lowercase. The problem still happened. But today, I found it only happened when I tried to send a mail to myself. I could send mail to others successfully. In addition, this problem doesn't exist in  nucleus 0.6.

[2016-08-15 19:48] dualspiral commented on #298
Sorry, this isn't clear, I mean that the player in question has a lowercase name as registered on Mojang's site.

I managed to reproduce this and I've fixed it in https://github.com/NucleusPowered/Nucleus/commit/51c45473a83d0acab719b3208d9a258235917b5f

[2016-08-15 19:48] #298 closed

[2016-08-15 20:09] #299 closed

[2016-08-15 22:21] Wattyooo opened #302 "Add maximum limit for /speed"
So ATM giving players access to /speed enables them to do ridiculous speed amounts like /speed 1000
Which is obviously not viable for a relatively large server.
Perhaps expanding the config to include a maximum and minimum or safe limit on /speed

Furthermore, If possible, limiting what mobs can be spawned by players would be exceptionally useful.

[2016-08-16 07:12] 5igm opened #303 ""/nucleus setupperms [USER|MOD|ADMIN|NONE] <group>" doesn't work"
[code]
It doesn't work.
Nucleus-S4-0.7.1-1.8.x-SNAPSHOT-all
spongeforge-1.8.9-1890-4.2.0-BETA-1666
![qq 20160816151129](https://cloud.githubusercontent.com/assets/11610914/17690826/b8980630-63c3-11e6-841a-d356a0ac583d.png)

[2016-08-16 08:37] dualspiral commented on #303
It's a problem when using PermissionManager. I'll try to work around it, but PermissionManager should be exposing groups in the permission service too.

[2016-08-16 08:38] dualspiral commented on #303
You've got the command wrong, you've added an extra "perm" in there.

`/nucleus setupperms ADMIN admin` is what you're after.

[2016-08-16 08:38] #303 closed

[2016-08-16 15:45] 5igm opened #304 "Exception getting groups when executing /list"
Nucleus-S4-0.7.1-1.8.x-SNAPSHOT-all
spongeforge-1.8.9-1890-4.2.0-BETA-1666
[code]

[2016-08-16 15:51] kinggoesgaming commented on #304
For the love of God use pastebin.com

[2016-08-16 15:58] 5igm commented on #304
@kinggoesgaming What is your meaning?

[2016-08-16 16:00] 5igm commented on #304
@kinggoesgaming http://pastebin.com/0Z25RWDj

[2016-08-16 16:01] kinggoesgaming commented on #304
Use pastebin.com to share logs... It's next to impossible to read that error

[2016-08-16 16:01] kinggoesgaming commented on #304
OK you added code blocks that's better too

[2016-08-16 16:24] dualspiral commented on #304
Code blocks are fine for smaller logs, however, what you are not doing is giving us other meaningful information. Posting each error as "error feedback" does not help us. When reporting an issue, please include the following:

* Make the title meaningful. Even "Error when running /list" would be helpful here.
* What you did to cause the error.
* What you expected to happen.

As it stands, I can se

[2016-08-16 16:27] dualspiral commented on #302
Could you open a separate issue for that so I can track these things separately? Thanks!

[2016-08-16 17:10] dualspiral commented on #293
It's a bug in PermissionManager. I've PRd a fix for it.

https://github.com/djxy/PermissionManager/issues/8

[2016-08-16 17:28] dualspiral commented on #293
Worked around in the latest master too.

[2016-08-16 17:28] #293 closed

[2016-08-16 17:28] dualspiral commented on #304
Worked around in the lastest master. Clear this is another issue with PermissionManager.

[2016-08-16 17:28] #304 closed

[2016-08-16 18:27] #295 closed

[2016-08-16 18:27] dualspiral commented on #295
`/pbc`, permission `nucleus.plainbroadcast.base`.

[2016-08-16 18:57] #302 closed

[2016-08-16 18:59] dualspiral opened #305 "Restrict the types of mobs that can be spawned with /mobspawn"
@Wattyooo asked on #302:

Answer, maybe. I'll look into it, but I'm not promising it can or will be done.

[2016-08-16 18:59] 20zinnm opened #306 "Modular Loading System"
Would it be possible to extract Nucleus's Module Loading system into a separate, extensible system? This would be awesome for a number of projects I'm working on. I know there's already a "QuickStartModuleLoader" project, but it is relatively outdated.

[2016-08-16 19:03] dualspiral commented on #306
QSML _does_ power Nucleus though - it's the same module loading system. There aren't any changes to it - it's inactive because I've not needed to add anything to it. You're free to propose updates to it!

The Nucleus specific parts are [here](https://github.com/NucleusPowered/Nucleus/blob/master/src/main/java/io/github/nucleuspowered/nucleus/Nucleus.java#L138-L148) and in the `internal.qsml` packa

[2016-08-16 19:03] #306 closed

[2016-08-16 19:38] 20zinnm opened #307 "Configuring a Module with Type Serializer"
For a part of my new module's configuration, I need to deserialize a list of a custom object, for which I have a TypeSerializer. How would I do that within Nucleus's module configuration?

[2016-08-16 19:40] 20zinnm commented on #307
Would I just use `@Setting` on a `public List<CustomObject> customObjects` and register the Type Serializer in the main plugin load?

[2016-08-16 20:05] dualspiral commented on #307
Yeah, that's exactly it _if_ it's in the main configuration file only. Register it [here](https://github.com/NucleusPowered/Nucleus/blob/master/src/main/java/io/github/nucleuspowered/nucleus/Nucleus.java#L141) if it's in the main configuration.

[2016-08-17 01:50] Wattyooo commented on #305
Thanks for the speedy reply!

[2016-08-17 02:48] 5igm commented on #293
@dualspiral  Thank you very much.

[2016-08-17 06:51] 5igm opened #308 "NPE when trying to get blacklisted types"
[code]

[code]

[code]

[2016-08-17 06:51] 5igm commented on #308
Nucleus-S4-0.7.1-1.8.x-SNAPSHOT-all
spongeforge-1.8.9-1890-4.2.0-BETA-1666

[2016-08-17 07:23] 5igm opened #309 "Cannot get player from their exact name when a player that starts with their name is on the server"
When I tried to use "/tphere Deity" to teleporate a player named Deity to my position, it always shows the error below
![qq 20160817151859](https://cloud.githubusercontent.com/assets/11610914/17727741/f4b8b7c0-648d-11e6-9ba3-dd6711e8aa9e.png)

There is no console error feedback. My name is DeitySSS.

[2016-08-17 07:26] 5igm commented on #309
![qq 20160817152618](https://cloud.githubusercontent.com/assets/11610914/17727932/fcc3547e-648e-11e6-9aab-7395149849f8.png)

[2016-08-17 18:53] FiveEYZ opened #310 "more options to /rtp"
Made a comment on a closed issue, dont think anyone read it so im making a new issue.

So i wanna request some more "features" to /rtp
Is it possible to add some checks to the rtp command?

A config option so that a player will always spawn with clear view to the sky.
This will prevent them getting rtp inside a cave.

A block blacklist/whitelist, so a player can for example only spawn on blockGras

[2016-08-18 16:59] Nentify opened #311 "Remove MOTD Header/Footer lines"
It would be nice if it was possible to remove the lines from the motd message.

[2016-08-18 17:22] dualspiral commented on #311
Reasonable. Is this when you've set the title to an empty string, or including the case with a title?

[2016-08-18 17:25] dualspiral commented on #310
That should already be prevented, no? I use Sponge's safe teleport routine to make sure that doesn't happen.

Other things, sure, makes sense.

[2016-08-18 17:31] 5igm opened #312 "Error feedback"
Nucleus-0.7.2-S5-1.10-plugin
spongeforge-1.9.4-1968-5.0.0-BETA-1503
[code]

[2016-08-18 17:33] 5igm commented on #312
This error occred when respawning place is covered by blocks.

[2016-08-18 17:33] Nentify commented on #311
Just found out an empty string removes the whole title line thanks! In addition then, an option to have the footer lines removed.

[2016-08-18 17:36] dualspiral commented on #312
That version of Sponge is out of date, there was never a blessed release of 1.9.4, you should now be using 1.10.2. The latest version of API 5 (which is still not finalised so does break) targetts 1.10.2 **only**, and as a result, this is not something I can or will fix.

Update to the latest 1.10.2 build.

[2016-08-18 17:36] #312 closed

[2016-08-18 17:37] dualspiral commented on #311
Sure thing.

[2016-08-18 17:48] #311 closed

[2016-08-18 17:56] dualspiral commented on #294
I think you're going to have to list what you want here, because putting "etc." means we have to guess.

Bear in mind I'm not necessarily going to agree with all your points, but you're welcome to list what you think we need to add.

[2016-08-18 17:57] dualspiral commented on #296
Chat channels would be the way I'd do this. I'll thow this onto the list.

[2016-08-18 18:21] 5igm commented on #294
@dualspiral
My meaning is to add some very basic permissions like essnetials did.
Maybe they will like,
nucleus.home.bed
nucleus.sethome.bed
nucleus.build
nucleus.build.break.<id>
nucleus.build.craft.<id>[:datavalue]
nucleus.build.drop.<id>[:datavalue]
nucleus.build.pickup.<id>[:datavalue]
nucleus.build.break.<id>[:datavalue]
nucleus.chat
nucleus.chat.color
nucleus.chat.format
nucleus.chat.magic
n

[2016-08-18 19:02] 5igm opened #313 ""/nucleus setupperms [USER|MOD|ADMIN|NONE] <group>" doesn't work"
![qq 20160819025930](https://cloud.githubusercontent.com/assets/11610914/17786830/3524496a-65b9-11e6-8e22-1420ac22782a.png)
It still doesn't work.
Nucleus-0.7.2-S5-1.10-plugin
spongeforge-1.9.4-1968-5.0.0-BETA-1503

[2016-08-18 19:19] FiveEYZ commented on #310
players still get teleported to the bottom of a the ocean

[2016-08-18 19:23] dualspiral commented on #313
Two problems here, neither of which are Nucleus' fault.

* You're still using 1.9.4. This will not work in some situations, you **must** be using 1.10.2. Sponge does not support 1.9.4 any more, and neither do we.
* The error message tells you exactly what you've done wrong, this is not the fault of Nucleus. You need to provide the command that you would need to use to setup permission. See http://

[2016-08-18 19:23] #313 closed

[2016-08-18 19:24] dualspiral commented on #310
That then might be a Sponge issue - but yeah, can't harm to put extra checks in.

[2016-08-19 14:00] Haidyn opened #314 "Bug with world teleporting"
I'm using ProjectPortals for teleportation between worlds. After using a portal to go from the overworld to another world, teleporting back causes the world to cease loading fully.

I'm unsure if this is the portals, nucleus or sponge but as it happens after teleporting back with nucleus I thought I'd post here first.

Screenshot

![](http://i.nentify.me/0b14aBfW.png)

Console error
http://pastebi

[2016-08-19 14:38] dualspiral commented on #314
It's most likely going to be Sponge, I don't think it's ProjectPortals nor Nucleus. However, instead of using `/world tp` try `/spawn world`, it uses a different mechanism and I'll likely be removing `/world tp` whenI redo the worlds module because it doesn't add anything more.

Let me know how it goes.

[2016-08-19 14:39] dualspiral commented on #314
Just saw your post on ProjectPortals, still, if you can let me know how it goes, want to make sure we're compatible as well.

[2016-08-19 15:10] Haidyn commented on #314
The issue persists with both commands.

[2016-08-19 15:25] dualspiral commented on #314
Strange as it sounds, I don't think it's Nucleus at all then. Will keep this open though, just in case.

[2016-08-20 15:25] #310 closed

[2016-08-20 15:28] #142 closed

[2016-08-20 15:29] #108 closed

[2016-08-20 16:59] #309 closed

[2016-08-20 19:32] FiveEYZ commented on #310
possible to get this rtp loveliness to sponge 5.0.0? :D

[2016-08-20 23:11] dualspiral commented on #310
I'll merge it in tomorrow.
On Sat, 20 Aug 2016 at 20:33, FiveEYZ <notifications@github.com> wrote:

[2016-08-21 01:42] SnowBlitzz opened #316 "Nucleus shutting not allowing server to start?"
20.08 21:40:10 [Server] Server thread/INFO [totaleconomy]: Total Economy Stopped
20.08 21:40:10 [Server] Server thread/INFO [nucleus]: Nucleus is performing server shutdown tasks.
20.08 21:40:10 [Server] Server thread/INFO [com.zaxxer.hikari.pool.HikariPool]: HikariPool-1 - Closed.
20.08 21:40:10 [Server] Server thread/INFO [com.zaxxer.hikari.pool.HikariPool]: HikariPool-1 - Close initiated...
20.

[2016-08-21 04:40] Eevables commented on #316
Don't worry, misunderstandings happen! It's just a normal plugin shutdown message.

[2016-08-21 04:40] #316 closed

[2016-08-21 11:04] 5igm opened #317 "Add support for selectors in certain commands."
Nucleus-0.7.2-S5-1.10-plugin
spongeforge-1.10.2-2052-5.0.0-BETA-1679
![1](https://cloud.githubusercontent.com/assets/11610914/17836802/56b63664-67d1-11e6-8027-86640097a8b5.png)

/tppos @p world -265 63 -200
[18:55:52] Usage: /tppos <player> [<world>] x(-2147483648-2147483647) y(0-255) z(-2147483648-2147483647) [-f <f>]

[2016-08-21 11:12] dualspiral commented on #317
This isn't a bug per sé, this is more a feature that we haven't added yet, but actually, I'm surprised I haven't had this logged.

Some commands will support selectors, I have a plan on how to do this.

[2016-08-21 15:08] #317 closed

[2016-08-21 15:30] dualspiral opened #319 "Add ability to turn off /fly, /god etc. on login"
From the forums

Probably needs a permission as well, `nucleus.<>.exempt.loginremove`?

[2016-08-21 16:23] 5igm opened #320 "Error feedback: related to saving task"
Nucleus-0.7.2-S5-1.10-plugin
spongeforge-1.10.2-2052-5.0.0-BETA-1679
[code]

[2016-08-21 16:28] dualspiral commented on #320
I don't think this is a Nucleus problem - something is happeneing in Windows to cause this. You're getting a `java.nio.file.AccessDeniedException` because Nucleus is running three save tasks at once, but they are correctly 5 minutes apart.

I'm pretty sure something is screwing around in Windows. I'll keep an eye, but this is file system related.

[2016-08-22 04:41] trentech commented on #314
I don't think it's Project Portals either. This looks similar to an issue that Sponge had back when the Teleportation API was first updated. What version of Sponge are you running?

[2016-08-22 12:38] dualspiral commented on #314
The logs suggest `1.10.2-2052-5.0.0-BETA-1668`, so fairly recent. I would suggest trying the latest version, see what happens, though I suspect the same error will be seen.

[2016-08-22 13:35] dualspiral commented on #294
Minus the `nucleus.chat` permission you're talking about, all the chat ones exist - see the permissions section at http://nucleuspowered.org/docs/modules/chat.html

I'm not so keen on the protection stuff right now, as that was an addon to Essentials anyway - maybe something to be revisted later. Preventing chat using a permission, I _guess_ I could do that, but it would be an option that defaults

[2016-08-22 22:38] FiveEYZ commented on #310
thanks alot for adding these improvement!
Something I noticed while spamming /rtp is that on the server we have a mod that adds small underground "domes" with grass and trees, it looks like rtp really like to teleport the players to them.

Possible to specify a Y: value? for example players will never teleport below y:60
also it seems that /rtp times out 9 out of 10 tries

if nothing can be done,

[2016-08-23 10:36] Haidyn commented on #314
The latest SpongeCommon fixes blood pushed have fixed the world load issue.

[2016-08-23 10:36] #314 closed

[2016-08-23 20:37] 5igm opened #322 "Suggestion: /setspawn and /sethome"
I tried to use command_blocks to make some questions before my players entering server. But now, I am facing a problem that I cannot use command_block to change players' spawn point or home point. When I tried to write "/setspawn @p" and "/sethome @p" in command space of command_block, nucleus warned me that "Usage /setspawn" and "Usage /sethome". If I write "/setspawn" and "/sethome", nucleus war

[2016-08-23 20:43] dualspiral commented on #322
`/setspawn`  exists, but is global. Nucleus does not handle player specific spawns, but is something I have been thinking about. However, this is not a high priority, and I would suggest that this might be something another plugin to do and override what Nucleus does, because I don't see this as something essential right now.

`/sethome` exists, but only for the current player. I never added a `/s

[2016-08-23 20:50] #307 closed

[2016-08-23 21:18] 5igm commented on #322
@dualspiral  Yeah. Thank you very much. I am looking forward to these new features.

[2016-08-24 16:37] 5igm opened #323 "Error feedback about Command_block"
If there are two or more people in server. command block cannot execute the command used @p. For example, I typed "/tppos @p -175 182 -110" in command space. If there is only one player in the server, command block can transport the player to the position of -175 182 -110. If there are two or more players in the server, command block will just warn "[00:27:37] Usage: /tppos <player> [<world>] x(-2

[2016-08-24 16:46] dualspiral commented on #323
I only added support for selectors in 0.8, and you're running 0.7.2. Please use the [latest version](https://github.com/NucleusPowered/Nucleus/releases/tag/0.8.0) before making bug reports.

[2016-08-24 16:46] #323 closed

[2016-08-24 16:51] Nentify opened #324 "/tp in creative shouldn't require a safe location"
When in creative and trying to teleport to someone else flying in creative, I normally get an error that it could not find a safe location. I don't think this is necessary if the teleporting player is in creative - Or at least a way to bypass this.

Thanks!

[2016-08-24 17:15] FiveEYZ commented on #324
just add `-f `at the end of the tp command, but i agree it should force by default if u are in creative

[2016-08-24 17:17] dualspiral commented on #324
Oh yeah, it's an oversight on my part. I do have wider changes to make to the teleport system though regarding safe teleport, but this will get resolved one way or another.

[2016-08-24 17:49] #180 closed

[2016-08-24 18:42] 5igm opened #325 "Suggestion: More selectors support"
It is an amazing improvement without a doubt.

[code]

But, could you add more commands supported by these selectors?
Such as  /give, /kick, /ban, /tempban, /mute, /nickname, /rtp, /vanish, /mail send, /kit.

[2016-08-24 18:46] 5igm opened #326 "Error feedback: "/msg" still doesn't support @a, @p, @r"
When I tried to use "/msg @p blablabla..."
Nucleus warn me that @p is offline.
For selectors, @a and @r, “/msg" also doesn't support them.
![1](https://cloud.githubusercontent.com/assets/11610914/17943460/1570b41e-6a6e-11e6-832c-081deaede21b.png)

[2016-08-24 19:10] 5igm opened #327 "Add /butcher for killing mobs"
Please allow "/kill" to kill monsters. Sometimes, if there are a lot of monsters or monsters are in a complex building, it is very difficult to kill or find out monsters.

[2016-08-24 19:17] hsyyid commented on #278
@Flashback083 @dualspiral `/world disable` should do what you're looking for.

[2016-08-24 19:18] hsyyid commented on #325
Please don't make lots of issues for the same thing in the future.

[2016-08-24 19:19] dualspiral commented on #326
@hsyyid This issue is actually a bug. `/msg` should already support `@p` and `@r`.

[2016-08-24 19:20] dualspiral commented on #326
(Also, it won't support `@a`. It's not meant to be used to send to more than one person)

[2016-08-24 19:21] hsyyid commented on #326
Oh sorry my mistake @dualspiral

[2016-08-24 19:28] 5igm commented on #327
@hsyyid Excuse me. I don't find another issue as same as this one. Could you give me a reference to the duplicated one?

[2016-08-24 19:36] hsyyid commented on #320
Possibly Configurate related...?

[2016-08-24 19:43] dualspiral commented on #320
I just think it's Windows being Windows, to be honest.

[2016-08-24 19:45] dualspiral commented on #327
Neither do I. I'm reopening, but note that `/kill` is meant for players, so we may add a `/butcher` command to do this instead.

[2016-08-24 19:47] hsyyid commented on #326
Er it works fine on 1.8.9

[2016-08-24 19:47] dualspiral commented on #264
@SnowBlitzz Are you still seeing this? Not been able to reproduce it myself, but am interested to see if you are.

[2016-08-24 19:48] hsyyid commented on #308
@5igm could you send us your config? Specifically the blacklist portion

[2016-08-24 19:59] 5igm commented on #308
[code]

[2016-08-24 20:00] 5igm commented on #326
Yes. I am using spongeforge-1.10.2-2052-5.0.0-BETA-1679.
My server's minecraft version is 1.10.2. @hsyyid

[2016-08-24 23:50] dualspiral commented on #320
...you know, I've seen a few people complain about things not saving on 1.10 only. I wonder if there is a Configurate or Sponge issue forming there.

[2016-08-25 01:53] hsyyid commented on #326
Okay @5igm I'll test again with 1.10.2.

[2016-08-25 12:08] Flashback083 commented on #278
If we do /world disable, can we do /world enable just after to reactivate the map ? (without restarting)
If yes, its okay for the command!

[2016-08-25 12:47] 5igm opened #329 "/rtp teleporting players into walls"
When I issues /rtp in server, sometimes, I will be killed because of being suffocated in a wall.
Could you give players who is being transported a god buff?

[2016-08-25 12:48] dualspiral commented on #329
No, becuase `/rtp` should not be putting players into a wall. It uses Sponge's safe teleportation routine, so if you're ending up in a wall, we need to be reporting this to Sponge.

[2016-08-25 12:50] dualspiral commented on #329
Also, rather than putting "error feedback", please put a one line description in your issue so we can see it at a glance better. This would have been better as "/rtp teleporting players into walls". Thanks!

[2016-08-25 13:11] 5igm opened #330 "Nucleus stops work."
Nucleus-0.8.0-S5-1.10.2-plugin
spongeforge-1.10.2-2073-5.0.0-BETA-1687
[code]

[2016-08-25 13:13] dualspiral commented on #330
Broken by change in Sponge - https://github.com/SpongePowered/SpongeAPI/commit/09d03bf4d8d40a660273b9712df36978bee60e19, was not caused by Nucleus. Will fix when I get the chance to do so.

[2016-08-25 17:06] hsyyid commented on #278
@Flashback083 Yes you should be able to. Try it out.

[2016-08-25 17:07] hsyyid commented on #330
@dualspiral I can do this today. :+1:

[2016-08-25 18:15] dualspiral commented on #330
@hsyyid Thanks!

[2016-08-25 18:16] dualspiral commented on #278
Just wondering, should a unload command be temporary and the disable command be more permanent? Is there enough of a use case for that?

[2016-08-25 18:59] Flashback083 commented on #278
hum...
https://gyazo.com/26f56177661a156ae35ec61193d4bc26

[2016-08-25 19:39] 5igm commented on #330
@hsyyid I have some reports for your spongychest... Have you gotten them in github?

[2016-08-25 19:40] dualspiral commented on #330
@5igm That's not for asking on Nucleus' github, thanks.

[2016-08-25 19:40] 5igm commented on #330
@dualspiral  Sorry..

[2016-08-25 19:40] #330 closed

[2016-08-25 20:53] Rasgnarok opened #332 "[1.10.2] Mob Control"
Would it be possible to restrict through world settings the spawning of mobs? Not only the aggressive ones (which you can control through setting the world to peaceful) but also for removing the natural spawning of rabbits, cows, sheep... you get the gist. In the same vein, the issue of lightning-summoned skeletal horsemen disregard the world being set to peaceful - and try to kill the players. Fo

[2016-08-26 00:03] SnowBlitzz commented on #332
Would be nice to be able to disable egg throwing as well since that has a possibility of spawning chickens. If this were to be added, I guess spawners should be affected, or have an option for that.

[2016-08-26 01:12] Wattyooo opened #333 "Silent Join for admins (or people with specific permission node)"
Like the old essentials, people with a specific permission node were able to join the server without triggering the welcome message.

This would be useful to have for administrators to investigate unruly players.

[2016-08-26 06:06] Pymous commented on #327
If I can ,please, do not use /butcher.

It's already taken by WorldEdit and would overlap (and /butcher is broken with a few mods, including Pixelmon)

Any other commands, as long as we can customize it like the new /kill Vanilla is good for me :D

[2016-08-26 07:53] FiveEYZ commented on #333
Like the vanishnopacket plugin have, joining the server silently and in vanish would be great!

[2016-08-26 08:27] Nentify commented on #327
I would use /butcher if they do the same thing. Would be handy to have a command like this in Nucleus.

[2016-08-26 09:50] dualspiral commented on #327
I actually had forgotten Minecraft had a kill command, but by overriding, we are actually reducing functionality of it - so I should be trying to make it work in a similar fashion, but with added permissions to make it more controlable. So, I'm actually open to trying to make `/kill` support entities and throw in permissions, but I might also make a butcher command that does the same thing.

I nee